In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import json
import os
import psycopg2

In [ ]:
fileDir = os.path.dirname(os.path.realpath('__file__'))
filename = os.path.join(fileDir, 'db_connection/db_config.json')
with open(filename) as my_file:
    db_conf = json.load(my_file)
print db_conf

In [ ]:
def get_connection():
    
    fileDir = os.path.dirname(os.path.realpath('__file__'))
    ilename = os.path.join(fileDir, 'db_connection/db_config.json')
    with open(filename) as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    
    # return conn_str
    try:
        conn = psycopg2.connect(conn_str)
        return conn
    except Exception:
        return Exception.message
        
get_connection()

In [43]:
def get_table():
    conn = get_connection()
    table = pd.DataFrame()
    for chunk in pd.read_sql('select * from dim_dhis_period LIMIT 100000', con=conn, chunksize=100):
        table = table.append(chunk)
    
    table.to_json('backups/dim_dhis_period',orient='table')
    return table

get_table()

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth
0,13758,5,Monthly,2010-01-01,2010-01-31,None,None,None,None,None,2010 1
1,13759,5,Monthly,2010-02-01,2010-02-28,None,None,None,None,None,2010 2
2,13760,5,Monthly,2010-03-01,2010-03-31,None,None,None,None,None,2010 3
3,13761,5,Monthly,2010-04-01,2010-04-30,None,None,None,None,None,2010 4
4,13762,5,Monthly,2010-05-01,2010-05-31,None,None,None,None,None,2010 5
5,13763,5,Monthly,2010-06-01,2010-06-30,None,None,None,None,None,2010 6
6,13764,5,Monthly,2009-06-01,2009-06-30,None,None,None,None,None,2009 6
7,13765,5,Monthly,2009-01-01,2009-01-31,None,None,None,None,None,2009 1
8,13766,5,Monthly,2009-02-01,2009-02-28,None,None,None,None,None,2009 2
9,13767,5,Monthly,2009-03-01,2009-03-31,None,None,None,None,None,2009 3
10,13768,5,Monthly,2009-04-01,2009-04-30,None,None,None,None,None,2009 4
11,13769,5,Monthly,2009-07-01,2009-07-31,None,None,None,None,None,2009 7
12,13770,5,Monthly,2009-08-01,2009-08-31,None,None,None,None,None,2009 8
13,13771,5,Monthly,2009-09-01,2009-09-30,None,None,None,None,None,2009 9
14,13772,5,Monthly,2009-10-01,2009-10-31,None,None,None,None,None,2009 10
15,13773,5,Monthly,2009-11-01,2009-11-30,None,None,None,None,None,2009 11
16,13774,5,Monthly,2009-12-01,2009-12-31,None,None,None,None,None,2009 12
17,13775,5,Monthly,2009-05-01,2009-05-31,None,None,None,None,None,2009 5
18,20990,5,Monthly,2010-10-01,2010-10-31,None,None,None,None,None,2010 10
19,20991,5,Monthly,2010-09-01,2010-09-30,None,None,None,None,None,2010 9
20,20992,5,Monthly,2010-08-01,2010-08-31,None,None,None,None,None,2010 8
21,20993,5,Monthly,2010-07-01,2010-07-31,None,None,None,None,None,2010 7
22,21010,8,Yearly,2009-01-01,2009-12-31,None,None,None,None,None,2009 1
23,21011,8,Yearly,2010-01-01,2010-12-31,None,None,None,None,None,2010 1
24,21815,6,Quarterly,2010-07-01,2010-09-30,None,None,None,None,None,2010 7
25,23174,5,Monthly,2010-11-01,2010-11-30,None,None,None,None,None,2010 11
26,32985,5,Monthly,2010-12-01,2010-12-31,None,None,None,None,None,2010 12
27,33249,6,Quarterly,2010-01-01,2010-03-31,None,None,None,None,None,2010 1
28,33324,8,Yearly,2005-01-01,2005-12-31,None,None,None,None,None,2005 1
29,35238,5,Monthly,2011-01-01,2011-01-31,None,None,None,None,None,2011 1
...,...,...,...,...,...,...,...,...,...,...,...
1,8688583,3,Daily,2015-07-24,2015-07-24,None,None,None,None,None,2015 7
2,8688685,3,Daily,2015-07-26,2015-07-26,None,None,None,None,None,2015 7
3,8692157,3,Daily,2015-07-27,2015-07-27,None,None,None,None,None,2015 7
4,8698624,3,Daily,2015-07-11,2015-07-11,None,None,None,None,None,2015 7
5,8698627,3,Daily,2015-07-13,2015-07-13,None,None,None,None,None,2015 7
6,8698631,3,Daily,2015-07-15,2015-07-15,None,None,None,None,None,2015 7
7,8698640,3,Daily,2015-07-20,2015-07-20,None,None,None,None,None,2015 7
8,8698642,3,Daily,2015-07-21,2015-07-21,None,None,None,None,None,2015 7
9,8698645,3,Daily,2015-07-22,2015-07-22,None,None,None,None,None,2015 7
10,8698649,3,Daily,2015-07-28,2015-07-28,None,None,None,None,None,2015 7
11,8698652,3,Daily,2015-07-29,2015-07-29,None,None,None,None,None,2015 7
12,8703182,3,Daily,2015-07-30,2015-07-30,None,None,None,None,None,2015 7
13,8704959,4,Weekly,2015-07-27,2015-08-02,None,None,None,None,None,2015 7
14,8707232,3,Daily,2015-08-01,2015-08-01,None,None,None,None,None,2015 8
15,8708612,4,Weekly,2015-12-21,2015-12-27,None,None,None,None,None,2015 12
16,8711745,3,Daily,2015-08-04,2015-08-04,None,None,None,None,None,2015 8
17,8711870,3,Daily,2015-07-31,2015-07-31,None,None,None,None,None,2015 7
18,8714673,3,Daily,2015-08-02,2015-08-02,None,None,None,None,None,2015 8
19,8714674,3,Daily,2015-08-03,2015-08-03,None,None,None,None,None,2015 8
20,8748820,39627,FinancialApril,2016-04-01,2017-03-31,None,None,None,None,None,2016 4
21,8749143,3,Daily,2015-08-06,2015-08-06,None,None,None,None,None,2015 8
22,8762801,3,Daily,2015-08-05,2015-08-05,None,None,None,None,None,2015 8
23,8762817,3,Daily,2015-08-07,2015-08-07,None,None,None,None,None,2015 8
24,8763951,4,Weekly,2015-08-03,2015-08-09,None,None,None,None,None,2015 8
25,8772634,3,Daily,2015-08-09,2015-08-09,None,None,None,None,None,2015 8
26,8784730,3,Daily,2015-08-10,2015-08-10,None,None,None,None,None,2015 8
27,8786488,3,Daily,2015-08-08,2015-08-08,None,None,None,None,None,2015 8
28,8809954,3,Daily,2015-08-12,2015-08-12,None,None,None,None,None,2015 8
29,8809960,45617,FinancialOct,2019-10-01,2020-09-30,None,None,None,None,None,2019 10
30,8815332,3,Daily,2015-08-13,2015-08-13,None,None,None,None,None,2015 8

In [ ]:
dframe = get_table()

In [ ]:
bfile = get_table().to_json('backups/common_constituency',orient='table')

In [ ]:
bfile

In [ ]:
os.system("echo '%s' | pbcopy" % bfile)

In [ ]:
json_file = json.dumps(dframe)

In [ ]:
json_file