In [96]:
#import needed librar
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import json
import psycopg2
import os
import re
#

In [97]:
def static_vars(**kwargs):
    def decorate(func):
        for k in kwargs:
            setattr(func, k, kwargs[k])
        return func
    return decorate

In [98]:

def get_connection():
    
    with open('../db_connection/db_config_2.json') as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    try:
        if not hasattr(get_connection, "conn"):            
            get_connection.conn = psycopg2.connect(conn_str)
            return get_connection.conn
        else:            
            return get_connection.conn
        return conn
    except('error'):
        return 'error in connecting to database'

In [99]:
get_connection()

In [100]:
def get_indicator_groups():
    '''return a list of all indicator groups'''
    conn = get_connection()
    
    all_indicator_groups = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroup', con=conn, chunksize=100):
        all_indicator_groups = all_indicator_groups.append(chunk)
    
    return all_indicator_groups

In [101]:
get_indicator_groups()

,indicatorgroupid,name,uid,code,lastupdated,created,userid,publicaccess,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,412980,HIV care and treatment-MOH 711,Ym44sNLgAnM,None,2013-07-19 11:35:44.396,2013-07-18 10:16:32.443,24850.0,rw------,None,None,None,None,None
1,276490,MOH731,JKQJGg8QXcv,None,2013-07-19 12:47:43.302,2012-11-01 06:21:25.091,NaN,None,None,None,None,None,None
2,420575,HEI Cohort Analysis,pd24ijrPxT8,None,2013-07-24 22:11:38.671,2013-07-24 22:08:08.482,31583.0,rw------,None,None,None,None,None
3,423659,Immunization Logistics,L5ypsqd9vf7,None,2013-08-12 08:20:49.129,2013-08-12 08:20:49.129,31583.0,rw------,None,None,None,None,None
4,179062,Service Workload,kgtSzOCSMRz,None,2013-09-19 15:21:46.265,2012-10-08 11:39:03.819,NaN,None,None,None,None,None,None
5,46165,Logistics,rvdxnecKX3y,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
6,46166,Environmental,C4ToS1lYxV4,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
7,82259,HIV tests,quxsURVhvlw,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
8,93709,Family Planning Methods,kGdVbkdUzdl,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
9,93710,Family Planning Attendance,jfDnGFOMhHA,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
10,93808,FP Commodities Couple Year Protection,YUgK6HcT79P,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
11,93809,FP Commodities DIspensed,qQrGvRPfU9v,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
12,94763,FP Commodities Ending Balance,EVdmyCqaRuV,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
13,96876,IP Ward Level,F0KmwJQdQ05,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
14,101922,Malaria Commodities,t0UQvqyJw19,None,2012-01-08 20:43:04.315,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
15,35441,Human Resource,cscsrlXYiOB,None,2012-06-16 09:47:23.915,2012-06-16 09:47:23.915,NaN,None,None,None,None,None,None
16,179040,Population,foNgmbVZNIB,None,2012-07-21 19:44:46.246,2012-07-21 19:44:46.246,NaN,None,None,None,None,None,None
17,35442,MOH731-2 PMTCT,lBD0xqWqgqi,None,2012-08-24 09:10:09.033,2012-08-24 09:10:09.033,NaN,None,None,None,None,None,None
18,35444,TB Services,mVgPQPypBUb,None,2012-10-12 12:53:07.442,2012-10-12 12:53:07.442,NaN,None,None,None,None,None,None
19,274285,Community Unit,JAZ4pl451fQ,None,2012-10-29 20:41:25.387,2012-10-29 20:41:25.387,NaN,None,None,None,None,None,None
20,276489,Hospital Administrative,NfpY4dDnNKH,None,2012-11-01 06:22:24.185,2012-11-01 06:22:24.185,NaN,None,None,None,None,None,None
21,31590,Safe Delivery,aLAsX2SDTL2,None,2012-11-03 22:19:25.544,2012-11-03 22:19:25.544,NaN,None,None,None,None,None,None
22,35440,Family Planning,aHA4B9Ubgec,None,2012-11-20 15:58:24.297,2012-11-20 15:58:24.297,NaN,None,None,None,None,None,None
23,31721,Antenatal,ILjnvZREKIe,None,2012-11-22 15:13:15.895,2012-11-22 15:13:15.895,NaN,None,None,None,None,None,None
24,307888,Malaria Early Warning Data (MEWs),bbObIZnDVGa,None,2013-01-02 20:51:00.457,2013-01-02 20:51:00.457,NaN,None,None,None,None,None,None
25,31722,Malaria,BO988GSyf0X,None,2013-01-26 16:45:03.257,2013-01-26 16:45:03.257,NaN,None,None,None,None,None,None
26,342076,Ophthalmic Services,rwAsLJC6Dmq,None,2013-02-20 21:27:46.516,2013-02-20 21:27:46.516,NaN,None,None,None,None,None,None
27,393335,Inpatient,N3UGYnhqhM4,None,2013-05-21 17:40:32.344,2013-05-21 17:40:32.344,31583.0,rw------,None,None,None,None,None
28,21025,Out Patient,ji8qxM6Z9Pm,None,2013-06-19 09:13:21.872,2012-11-08 17:39:08.026,NaN,None,None,None,None,None,None
29,412883,PMTCT_NASCOP,ly1jzPSOn2X,None,2013-07-17 15:21:34.702,2013-07-17 15:21:34.702,60934.0,rw------,None,None,None,None,None
30,413029,HTC-MOH 711,s1Q2w1R9Owj,None,2013-07-18 12:41:09.218,2013-07-18 11:37:04.343,24850.0,rw------,None,None,None,None,None
31,21024,Immunisation,mwndwamx3WU,None,2013-12-02 17:16:12.373,2013-02-26 11:00:20.625,NaN,None,None,None,None,None,None
32,2449465,EAC OHI DE,GHNwcpeNXm0,None,2014-06-02 10:15:05.156,2014-04-23 15:58:51.314,NaN,None,None,None,None,None,None
33,43619,Hospital Administrative,WWzWuhisQ2q,None,2014-10-30 19:08:58.799,2012-07-09 12:22:13.358,NaN,None,None,None,None,None,None
34,46164,Child Health,FY80wPmpcGR,None,2014-10-31 10:22:08.913,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
35,99752,HSSF Coverage and Performance,Ti3h3UgLsxt,None,2014-10-31 10:23:18.421,2012-04-11 10:29:57.727,NaN,None,None,None,None,None,None
36,84109,Nutritional Indicators,v3p421EJ50L,None,2014-10-31 10:27:12.866,2012-11-03 18:52:38.630,NaN,None,None,None,None,None,None
37,276488,MDR Indicators,u3WTXBMZc9T,None,2014-10-31 10:55:12.210,2012-11-01 06:05:09.105,NaN,None,None,None,None,None,None
38,264874,TB Case FInding,VePi73lntgX,None,2014-10-31 11:11:35.215,2012-11-01 06:18:17.632,NaN,None,None,None,None,None,None
39,31591,ART services,BIxF7jWIHFF,None,2015-03-12 11:10:24.830,2012-01-08 20:43:04.315,NaN,None,None,None,None,None,None
40,8779488,iHRIS Human Resources Indicators,HTAoNvBAr9S,None,2015-08-12 08:41:13.350,2015-08-11 08:16:13.399,276592.0,rw------,None,None,None,None,None

In [102]:
def get_indicator_group_by_id(indicator_group_id):
    '''return a single indicator group matching the id'''
    conn = get_connection()
    
    all_indicator_groups = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroup', con=conn, chunksize=100):
        all_indicator_groups = all_indicator_groups.append(chunk)
    
    single_indicator = all_indicator_groups[all_indicator_groups['indicatorgroupid']==indicator_group_id]
    return single_indicator

In [103]:
get_indicator_group_by_id(412980)

,indicatorgroupid,name,uid,code,lastupdated,created,userid,publicaccess,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,412980,HIV care and treatment-MOH 711,Ym44sNLgAnM,None,2013-07-19 11:35:44.396,2013-07-18 10:16:32.443,24850.0,rw------,None,None,None,None,None

In [104]:
def get_all_indicator_group_members():
    '''return all indicators in an indicator group'''
    conn = get_connection()    
    
    all_indicator_group_members = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroupmembers', con=conn, chunksize=100):
        all_indicator_group_members = all_indicator_group_members.append(chunk)        
    
    return all_indicator_group_members

In [105]:
get_all_indicator_group_members()

,indicatorid,indicatorgroupid,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,84107,84109,None,None,None,None,None
1,84105,84109,None,None,None,None,None
2,84106,84109,None,None,None,None,None
3,84101,84109,None,None,None,None,None
4,84151,84109,None,None,None,None,None
5,84153,84109,None,None,None,None,None
6,84156,84109,None,None,None,None,None
7,85000,31590,None,None,None,None,None
8,85019,84109,None,None,None,None,None
9,21026,31722,None,None,None,None,None
10,21030,31722,None,None,None,None,None
11,21029,31722,None,None,None,None,None
12,85050,84109,None,None,None,None,None
13,85059,84109,None,None,None,None,None
14,85071,84109,None,None,None,None,None
15,85091,31590,None,None,None,None,None
16,23183,31721,None,None,None,None,None
17,32986,31721,None,None,None,None,None
18,32414,31721,None,None,None,None,None
19,23186,31721,None,None,None,None,None
20,31664,31721,None,None,None,None,None
21,23185,31721,None,None,None,None,None
22,93659,21025,None,None,None,None,None
23,23182,35440,None,None,None,None,None
24,33026,35440,None,None,None,None,None
25,33029,35440,None,None,None,None,None
26,33007,35440,None,None,None,None,None
27,33031,35440,None,None,None,None,None
28,33027,35440,None,None,None,None,None
29,33025,93709,None,None,None,None,None
...,...,...,...,...,...,...,...
36,2449442,2449465,None,None,None,None,None
37,2449446,2449465,None,None,None,None,None
38,2449445,2449465,None,None,None,None,None
39,2449440,2449465,None,None,None,None,None
40,2449435,2449465,None,None,None,None,None
41,2449451,2449465,None,None,None,None,None
42,2449441,2449465,None,None,None,None,None
43,2449434,2449465,None,None,None,None,None
44,2449455,2449465,None,None,None,None,None
45,2449460,2449465,None,None,None,None,None
46,2449439,2449465,None,None,None,None,None
47,2449436,2449465,None,None,None,None,None
48,2449462,2449465,None,None,None,None,None
49,2449432,2449465,None,None,None,None,None
50,2449450,2449465,None,None,None,None,None
51,2449431,2449465,None,None,None,None,None
52,2449463,2449465,None,None,None,None,None
53,413097,31591,None,None,None,None,None
54,61883,31591,None,None,None,None,None
55,23700,31591,None,None,None,None,None
56,61884,31591,None,None,None,None,None
57,23701,31591,None,None,None,None,None
58,412947,31591,None,None,None,None,None
59,93312,31591,None,None,None,None,None
60,93309,31591,None,None,None,None,None
61,62038,31591,None,None,None,None,None
62,413120,31591,None,None,None,None,None
63,52903,31591,None,None,None,None,None
64,413348,31591,None,None,None,None,None
65,8779485,8779488,None,None,None,None,None

In [106]:
def get_indicator_group_members(indicator_group_id):
    '''return all indicators in an indicator group'''
    conn = get_connection()
    
    #get the indicator group
    indicator_group = get_indicator_group_by_id(indicator_group_id)
    indicator_group = indicator_group.rename(index=str, columns={'name': 'indicator_group_name'})
    
    all_indicator_group_members = DataFrame()
    
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicatorgroupmembers', con=conn, chunksize=100):
        all_indicator_group_members = all_indicator_group_members.append(chunk)
    
    indicator_group_members = pd.merge(all_indicator_group_members, indicator_group, on='indicatorgroupid')
    
    return indicator_group_members

In [107]:
get_indicator_group_members(412980).columns

Index([u'indicatorid', u'indicatorgroupid', u'_datecreated_x',
       u'_eventexecutionkey_x', u'_lastaction_x', u'_mergekey_x',
       u'_sourcesystemcode_x', u'indicator_group_name', u'uid', u'code',
       u'lastupdated', u'created', u'userid', u'publicaccess',
       u'_datecreated_y', u'_eventexecutionkey_y', u'_lastaction_y',
       u'_mergekey_y', u'_sourcesystemcode_y'],
      dtype='object')

In [108]:
def get_indicator_group_indicators(indicator_group_id):
    '''get all indicators in an indicator group'''
    conn=get_connection()
    #get indicator memmbers
    indicator_memmber = get_indicator_group_members(indicator_group_id)
    
    all_indicators = DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_indicator', con=conn, chunksize=100):
        all_indicators = all_indicators.append(chunk)
    
    indicators = pd.merge(all_indicators, indicator_memmber, on='indicatorid')
    
    
    return indicators

In [109]:
# get_indicator_group_indicators(84109).dtypes
print get_indicator_group_indicators(412980)[['numerator']]

                                           numerator
0                      #{qa1IrxISrSJ}+#{qMybCnYBkNY}
1  #{cTY2tTKwUqd}+#{eNcsljfoUKW}+#{jFrSw8UkNQ4}+#...
2  #{cTY2tTKwUqd}+#{eNcsljfoUKW}+#{jFrSw8UkNQ4}+#...
3  #{kMe8cor2UxQ.j03wX0lCHZc}+#{kMe8cor2UxQ.vVket...
4  #{dnNfHX89udH}+#{C8ZgpIWef1p}+#{k8Y2rcga2FJ}+#...
5  #{cTY2tTKwUqd}+#{eNcsljfoUKW}+#{jFrSw8UkNQ4}+#...
6  #{dnNfHX89udH}+#{C8ZgpIWef1p}+#{k8Y2rcga2FJ}+#...

In [110]:
def get_indicator_by_id(indicator_id):
    '''get specific indicator by id'''
    conn=get_connection()
    
    query = "SELECT * FROM dim_dhis_indicator WHERE indicatorid = '%s';" %(indicator_id)
    indicator = pd.read_sql(query, conn)
    
    return indicator

In [111]:
get_indicator_by_id(413098)

,indicatorid,indicatorname,shortname,code,description,annualized,indicatortypeid,indicatortypename,indicatortypefactor,indicatortypenumber,...,denominator,denominatordescription,uid,denominatorsql,numeratorsql,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,413098,Total number of patients currently on ARVs,Total on ARVs,None,All patients currently on ARVs(pregnant women ...,False,23696,Number,1,True,...,1,1,None,SELECT 1 as denominator,SELECT value1+value2 as numerator FROM (SELEC...,2016-02-01,None,I,None,None

In [112]:
def get_dataelment_by_id(dataelement_id):
    '''get specific data element'''
    conn=get_connection()
    #get data element
    
    all_dataelements = DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_dataelement', con=conn, chunksize=10000):
        all_dataelements = all_dataelements.append(chunk)
       
    return all_dataelements

In [113]:
de = get_dataelment_by_id('qa1IrxISrSJ')

In [114]:
#get a specific county
def get_category_combos():
    conn = get_connection()
    all_orgunits = pd.DataFrame()
    for chunk in pd.read_sql('SELECT * FROM dim_dhis_categoryoptioncombo', con=conn, chunksize=10000):
        all_orgunits = all_orgunits.append(chunk)
    
    return all_orgunits

In [115]:
get_category_combos()

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,8688567,r6zTEVft9H1,None,None,None,None,None,None
1,8813495,lZUIAg6whIT,None,None,None,None,None,None
2,8813496,xBF0SZh6k2f,None,None,None,None,None,None
3,8813497,ejejj1FVTq2,None,None,None,None,None,None
4,8813498,XzPlCAJe8jX,None,None,None,None,None,None
5,20673,ieuodyY5ybC,None,None,None,None,None,None
6,20674,bCfwecaPx2W,None,None,None,None,None,None
7,20676,lHl2rmXpHse,None,None,None,None,None,None
8,20677,SeDaCnHi3m5,None,None,None,None,None,None
9,21258,omEDL5LVgDJ,None,None,None,None,None,None
10,21259,g6112VF7T29,None,None,None,None,None,None
11,21260,j03wX0lCHZc,None,None,None,None,None,None
12,21261,vVketPHJwSY,None,None,None,None,None,None
13,21268,wBWcFk7k1qY,None,None,None,None,None,None
14,21325,sXgcr8o6TqL,None,None,None,None,None,None
15,21615,Lj5arkL7GL8,None,None,None,None,None,None
16,21616,ObiJr399QRt,None,None,None,None,None,None
17,21617,bPNw3Km3Ug7,None,None,None,None,None,None
18,21618,JUI7tesx6as,None,None,None,None,None,None
19,21683,U4pOspYgS6C,None,None,None,None,None,None
20,21684,BhEifF7qaMa,None,None,None,None,None,None
21,21685,E001TwZacAM,None,None,None,None,None,None
22,21686,UcbjkmT8m0e,None,None,None,None,None,None
23,21687,PyfuYO3qlk2,None,None,None,None,None,None
24,21688,uyHMrgHkWa4,None,None,None,None,None,None
25,21689,K4bGFMZEuMW,None,None,None,None,None,None
26,21690,cSmXmzTMZDN,None,None,None,None,None,None
27,261754,WDafWKWrI84,None,None,None,None,None,None
28,261755,XIQ1SeOshtt,None,None,None,None,None,None
29,261756,RYmHjCLU2CB,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
993,7839686,JRPzrvKWxIU,None,None,None,None,None,None
994,7839687,ZnAiy4Avkoo,None,None,None,None,None,None
995,7839688,A6AJd72OBem,None,None,None,None,None,None
996,7839689,Hd6rg3KwxWe,None,None,None,None,None,None
997,7839690,Mn2LAHnCBHT,None,None,None,None,None,None
998,7839691,py8ArdZAgVA,None,None,None,None,None,None
999,7839692,qPTIGNYhKcP,None,None,None,None,None,None
1000,7839693,qVM5nQVj5Ll,None,None,None,None,None,None
1001,7839694,k4Xh1PG3s66,None,None,None,None,None,None
1002,7839695,KBOCcfnNK1v,None,None,None,None,None,None
1003,7839696,xDofrBdn4XL,None,None,None,None,None,None
1004,7839697,olBzxhSMSuU,None,None,None,None,None,None
1005,7839698,SPE6IGh6XHv,None,None,None,None,None,None
1006,7839699,fPke0YL2TaI,None,None,None,None,None,None
1007,7839700,Zq6Muz8NQkt,None,None,None,None,None,None
1008,7839701,YP4rvjo8uzQ,None,None,None,None,None,None
1009,7839702,lfvCtV9GtmS,None,None,None,None,None,None
1010,7839703,j3ojMzPeuvb,None,None,None,None,None,None
1011,7839704,mLrXxQcKIYb,None,None,None,None,None,None
1012,7839705,p8cYhLPM85h,None,None,None,None,None,None
1013,7839706,Q2fJIoTjXmH,None,None,None,None,None,None
1014,7839707,uNMs41JK2j7,None,None,None,None,None,None
1015,7839708,X6j2oNQnPbP,None,None,None,None,None,None
1016,7839709,fr6IsBGWBij,None,None,None,None,None,None
1017,7839710,XYV3G9dNBO2,None,None,None,None,None,None
1018,7839711,tcILlX0W3if,None,None,None,None,None,None
1019,7839712,zEgbDqlud0x,None,None,None,None,None,None
1020,7839713,zJC3RpA15eu,None,None,None,None,None,None
1021,7839714,WnziS9vmokE,None,None,None,None,None,None
1022,7839715,VCjhEgPZNU1,None,None,None,None,None,None

In [116]:
def get_category_option_combo_by_uid(category_option_combo_id):
    conn = get_connection()
    all_category_option_combos = pd.DataFrame()
    query =  '''SELECT * 
                FROM dim_dhis_categoryoptioncombo
                WHERE uid = '%s'
            ''' %(category_option_combo_id)
    all_category_option_combos =  pd.read_sql(query, con=conn)
        
    
    return all_category_option_combos

In [117]:
get_category_option_combo_by_uid('NhSoXUMPK2K')

,categoryoptioncomboid,uid,code,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,15,NhSoXUMPK2K,None,None,None,None,None,None

In [118]:

def get_period_details(period_id, in_json=False):
    ''' return period id details'''
    conn = get_connection()
    all_periods = pd.DataFrame()
    query = "SELECT * FROM dim_dhis_period WHERE periodid = %s ;" %(period_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    return all_periods

In [119]:
periods =get_period_details(2506122, False)
periods

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth
0,2506122,5,Monthly,2015-03-01,2015-03-31,None,None,None,None,None,2015 3

In [120]:
#get period ids from year
def get_year_periods(year_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s')" %(year_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    all_periods['year'] = all_periods['yearmonth'].str.split(' ').str[1]
    all_periods['month'] = all_periods['yearmonth'].str.split(' ').str[2]
    return all_periods

In [121]:
get_year_periods(2015)

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth,year,month
0,304112,8,Yearly,2015-01-01,2015-12-31,None,None,None,None,None,2015 1,2015,1
1,227750,45616,FinancialJuly,2015-07-01,2016-06-30,None,None,None,None,None,2015 7,2015,7
2,2505073,5,Monthly,2015-04-01,2015-04-30,None,None,None,None,None,2015 4,2015,4
3,2506122,5,Monthly,2015-03-01,2015-03-31,None,None,None,None,None,2015 3,2015,3
4,2890974,5,Monthly,2015-06-01,2015-06-30,None,None,None,None,None,2015 6,2015,6
5,2890978,5,Monthly,2015-01-01,2015-01-31,None,None,None,None,None,2015 1,2015,1
6,2890979,5,Monthly,2015-02-01,2015-02-28,None,None,None,None,None,2015 2,2015,2
7,2890980,5,Monthly,2015-05-01,2015-05-31,None,None,None,None,None,2015 5,2015,5
8,3992158,5,Monthly,2015-10-01,2015-10-31,None,None,None,None,None,2015 10,2015,10
9,4588510,5,Monthly,2015-11-01,2015-11-30,None,None,None,None,None,2015 11,2015,11
10,4770037,6,Quarterly,2015-10-01,2015-12-31,None,None,None,None,None,2015 10,2015,10
11,4770038,6,Quarterly,2015-01-01,2015-03-31,None,None,None,None,None,2015 1,2015,1
12,4839357,6,Quarterly,2015-07-01,2015-09-30,None,None,None,None,None,2015 7,2015,7
13,4839358,6,Quarterly,2015-04-01,2015-06-30,None,None,None,None,None,2015 4,2015,4
14,4885141,3,Daily,2015-01-06,2015-01-06,None,None,None,None,None,2015 1,2015,1
15,4901930,5,Monthly,2015-12-01,2015-12-31,None,None,None,None,None,2015 12,2015,12
16,4938353,3,Daily,2015-01-08,2015-01-08,None,None,None,None,None,2015 1,2015,1
17,4946897,3,Daily,2015-01-09,2015-01-09,None,None,None,None,None,2015 1,2015,1
18,4946904,3,Daily,2015-01-07,2015-01-07,None,None,None,None,None,2015 1,2015,1
19,4946909,3,Daily,2015-01-05,2015-01-05,None,None,None,None,None,2015 1,2015,1
20,4946911,3,Daily,2015-01-04,2015-01-04,None,None,None,None,None,2015 1,2015,1
21,4946915,3,Daily,2015-01-03,2015-01-03,None,None,None,None,None,2015 1,2015,1
22,4946916,3,Daily,2015-01-02,2015-01-02,None,None,None,None,None,2015 1,2015,1
23,4946920,3,Daily,2015-01-01,2015-01-01,None,None,None,None,None,2015 1,2015,1
24,4969762,4,Weekly,2015-01-05,2015-01-11,None,None,None,None,None,2015 1,2015,1
25,4969990,4,Weekly,2015-01-12,2015-01-18,None,None,None,None,None,2015 1,2015,1
26,4990265,3,Daily,2015-01-10,2015-01-10,None,None,None,None,None,2015 1,2015,1
27,4990266,3,Daily,2015-01-11,2015-01-11,None,None,None,None,None,2015 1,2015,1
28,5001540,7,SixMonthly,2015-01-01,2015-06-30,None,None,None,None,None,2015 1,2015,1
29,5055618,3,Daily,2015-01-13,2015-01-13,None,None,None,None,None,2015 1,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,8681318,3,Daily,2015-07-23,2015-07-23,None,None,None,None,None,2015 7,2015,7
261,8688385,3,Daily,2015-07-25,2015-07-25,None,None,None,None,None,2015 7,2015,7
262,8688583,3,Daily,2015-07-24,2015-07-24,None,None,None,None,None,2015 7,2015,7
263,8688685,3,Daily,2015-07-26,2015-07-26,None,None,None,None,None,2015 7,2015,7
264,8692157,3,Daily,2015-07-27,2015-07-27,None,None,None,None,None,2015 7,2015,7
265,8698624,3,Daily,2015-07-11,2015-07-11,None,None,None,None,None,2015 7,2015,7
266,8698627,3,Daily,2015-07-13,2015-07-13,None,None,None,None,None,2015 7,2015,7
267,8698631,3,Daily,2015-07-15,2015-07-15,None,None,None,None,None,2015 7,2015,7
268,8698640,3,Daily,2015-07-20,2015-07-20,None,None,None,None,None,2015 7,2015,7
269,8698642,3,Daily,2015-07-21,2015-07-21,None,None,None,None,None,2015 7,2015,7
270,8698645,3,Daily,2015-07-22,2015-07-22,None,None,None,None,None,2015 7,2015,7
271,8698649,3,Daily,2015-07-28,2015-07-28,None,None,None,None,None,2015 7,2015,7
272,8698652,3,Daily,2015-07-29,2015-07-29,None,None,None,None,None,2015 7,2015,7
273,8703182,3,Daily,2015-07-30,2015-07-30,None,None,None,None,None,2015 7,2015,7
274,8704959,4,Weekly,2015-07-27,2015-08-02,None,None,None,None,None,2015 7,2015,7
275,8707232,3,Daily,2015-08-01,2015-08-01,None,None,None,None,None,2015 8,2015,8
276,8708612,4,Weekly,2015-12-21,2015-12-27,None,None,None,None,None,2015 12,2015,12
277,8711745,3,Daily,2015-08-04,2015-08-04,None,None,None,None,None,2015 8,2015,8
278,8711870,3,Daily,2015-07-31,2015-07-31,None,None,None,None,None,2015 7,2015,7
279,8714673,3,Daily,2015-08-02,2015-08-02,None,None,None,None,None,2015 8,2015,8
280,8714674,3,Daily,2015-08-03,2015-08-03,None,None,None,None,None,2015 8,2015,8
281,8749143,3,Daily,2015-08-06,2015-08-06,None,None,None,None,None,2015 8,2015,8
282,8762801,3,Daily,2015-08-05,2015-08-05,None,None,None,None,None,2015 8,2015,8
283,8762817,3,Daily,2015-08-07,2015-08-07,None,None,None,None,None,2015 8,2015,8
284,8763951,4,Weekly,2015-08-03,2015-08-09,None,None,None,None,None,2015 8,2015,8
285,8772634,3,Daily,2015-08-09,2015-08-09,None,None,None,None,None,2015 8,2015,8
286,8784730,3,Daily,2015-08-10,2015-08-10,None,None,None,None,None,2015 8,2015,8
287,8786488,3,Daily,2015-08-08,2015-08-08,None,None,None,None,None,2015 8,2015,8
288,8809954,3,Daily,2015-08-12,2015-08-12,None,None,None,None,None,2015 8,2015,8
289,8815332,3,Daily,2015-08-13,2015-08-13,None,None,None,None,None,2015 8,2015,8

In [122]:
#get period ids from year
def get_year_periodtypes(year_id, period_type_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s') AND periodtypeid = '%s'" %(year_id,period_type_id)
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    all_periods['year'] = all_periods['yearmonth'].str.split(' ').str[1]
    all_periods['month'] = all_periods['yearmonth'].str.split(' ').str[2]
    return all_periods

In [123]:
get_year_periodtypes(2014,5)

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth,year,month
0,723795,5,Monthly,2014-12-01,2014-12-31,None,None,None,None,None,2014 12,2014,12
1,723879,5,Monthly,2014-10-01,2014-10-31,None,None,None,None,None,2014 10,2014,10
2,1114558,5,Monthly,2014-01-01,2014-01-31,None,None,None,None,None,2014 1,2014,1
3,1185013,5,Monthly,2014-02-01,2014-02-28,None,None,None,None,None,2014 2,2014,2
4,1185014,5,Monthly,2014-03-01,2014-03-31,None,None,None,None,None,2014 3,2014,3
5,1185015,5,Monthly,2014-04-01,2014-04-30,None,None,None,None,None,2014 4,2014,4
6,1185016,5,Monthly,2014-05-01,2014-05-31,None,None,None,None,None,2014 5,2014,5
7,1185017,5,Monthly,2014-06-01,2014-06-30,None,None,None,None,None,2014 6,2014,6
8,1185018,5,Monthly,2014-07-01,2014-07-31,None,None,None,None,None,2014 7,2014,7
9,1185019,5,Monthly,2014-08-01,2014-08-31,None,None,None,None,None,2014 8,2014,8
10,1185020,5,Monthly,2014-09-01,2014-09-30,None,None,None,None,None,2014 9,2014,9
11,1185021,5,Monthly,2014-11-01,2014-11-30,None,None,None,None,None,2014 11,2014,11

In [124]:
#get period ids from year
def get_year_month_periods(year, month):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE yearmonth @@ to_tsquery('%s &%s')" %(year, month)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    return all_periods

In [125]:
get_year_month_periods(2015,1)

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth
0,304112,8,Yearly,2015-01-01,2015-12-31,None,None,None,None,None,2015 1
1,2890978,5,Monthly,2015-01-01,2015-01-31,None,None,None,None,None,2015 1
2,4770038,6,Quarterly,2015-01-01,2015-03-31,None,None,None,None,None,2015 1
3,4885141,3,Daily,2015-01-06,2015-01-06,None,None,None,None,None,2015 1
4,4938353,3,Daily,2015-01-08,2015-01-08,None,None,None,None,None,2015 1
5,4946897,3,Daily,2015-01-09,2015-01-09,None,None,None,None,None,2015 1
6,4946904,3,Daily,2015-01-07,2015-01-07,None,None,None,None,None,2015 1
7,4946909,3,Daily,2015-01-05,2015-01-05,None,None,None,None,None,2015 1
8,4946911,3,Daily,2015-01-04,2015-01-04,None,None,None,None,None,2015 1
9,4946915,3,Daily,2015-01-03,2015-01-03,None,None,None,None,None,2015 1
10,4946916,3,Daily,2015-01-02,2015-01-02,None,None,None,None,None,2015 1
11,4946920,3,Daily,2015-01-01,2015-01-01,None,None,None,None,None,2015 1
12,4969762,4,Weekly,2015-01-05,2015-01-11,None,None,None,None,None,2015 1
13,4969990,4,Weekly,2015-01-12,2015-01-18,None,None,None,None,None,2015 1
14,4990265,3,Daily,2015-01-10,2015-01-10,None,None,None,None,None,2015 1
15,4990266,3,Daily,2015-01-11,2015-01-11,None,None,None,None,None,2015 1
16,5001540,7,SixMonthly,2015-01-01,2015-06-30,None,None,None,None,None,2015 1
17,5055618,3,Daily,2015-01-13,2015-01-13,None,None,None,None,None,2015 1
18,5087196,3,Daily,2015-01-15,2015-01-15,None,None,None,None,None,2015 1
19,5108155,3,Daily,2015-01-14,2015-01-14,None,None,None,None,None,2015 1
20,5155063,3,Daily,2015-01-19,2015-01-19,None,None,None,None,None,2015 1
21,5176570,3,Daily,2015-01-12,2015-01-12,None,None,None,None,None,2015 1
22,5176572,3,Daily,2015-01-16,2015-01-16,None,None,None,None,None,2015 1
23,5176573,3,Daily,2015-01-17,2015-01-17,None,None,None,None,None,2015 1
24,5176574,3,Daily,2015-01-18,2015-01-18,None,None,None,None,None,2015 1
25,5176576,3,Daily,2015-01-20,2015-01-20,None,None,None,None,None,2015 1
26,5236450,4,Weekly,2015-01-19,2015-01-25,None,None,None,None,None,2015 1
27,5256650,3,Daily,2015-01-21,2015-01-21,None,None,None,None,None,2015 1
28,5278559,89687,BiMonthly,2015-01-01,2015-02-28,None,None,None,None,None,2015 1
29,5392159,4,Weekly,2015-01-26,2015-02-01,None,None,None,None,None,2015 1
30,5413345,3,Daily,2015-01-27,2015-01-27,None,None,None,None,None,2015 1
31,5567829,3,Daily,2015-01-28,2015-01-28,None,None,None,None,None,2015 1
32,5679434,3,Daily,2015-01-30,2015-01-30,None,None,None,None,None,2015 1
33,5680616,3,Daily,2015-01-29,2015-01-29,None,None,None,None,None,2015 1
34,5682937,3,Daily,2015-01-31,2015-01-31,None,None,None,None,None,2015 1
35,5682938,3,Daily,2015-01-26,2015-01-26,None,None,None,None,None,2015 1
36,5682939,3,Daily,2015-01-25,2015-01-25,None,None,None,None,None,2015 1
37,5682940,3,Daily,2015-01-24,2015-01-24,None,None,None,None,None,2015 1
38,5682941,3,Daily,2015-01-23,2015-01-23,None,None,None,None,None,2015 1
39,5682942,3,Daily,2015-01-22,2015-01-22,None,None,None,None,None,2015 1

In [126]:
#get a specific facility
def get_facility_by_id(facility_id):
    conn = get_connection()
    all_facilities = pd.DataFrame()
    query = "SELECT * FROM facilities_facility WHERE id = '%s' ;" %(facility_id)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_facilities = all_facilities.append(chunk)

    
    return all_facilities

In [127]:
get_facility_by_id("da850a5f-df4e-4650-b950-2f86839748f7")

,id,deleted,active,name,official_name,code,registration_number,abbreviation,description,number_of_beds,...,_effectivefrom,_effectiveto,ward_id,facility_type_id,keph_level_id,owner_id,parent_id,sub_county_id,town_id,facility_sk
0,da850a5f-df4e-4650-b950-2f86839748f7,False,True,St Monica Hospital,St Monica Hospital,14120,None,None,None,100,...,1900-01-01,2199-12-31,20a463b3-e899-4ef7-983e-b851ffc702c9,c24479c1-6088-44ec-8e47-79754089c0b6,415184b9-434a-44ae-b893-c1249df5d8b6,8cc87f18-aa70-4c86-afcc-173a7e6ba7ed,None,None,54a75215-92e2-40b4-99ce-fcd805eb21af,5678

In [128]:
def get_period_by_id(period_id):
    '''return all periods in the year specified '''
    conn = get_connection()
    all_periods = DataFrame()
    #query = "SELECT * FROM dim_dhis_period WHERE yearmonth LIKE"
    query = "SELECT * FROM dim_dhis_period WHERE periodid = %s" %(period_id)    
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_periods = all_periods.append(chunk)
    
    
    return all_periods

In [129]:
get_period_by_id(2505073)

,periodid,periodtypeid,periodtypename,startdate,enddate,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,yearmonth
0,2505073,5,Monthly,2015-04-01,2015-04-30,None,None,None,None,None,2015 4

In [130]:
def get_facility_org_units(facility_id):
    conn = get_connection()
    #get the facility    
    query = ''' SELECT  a.organisationunitid, a.code, b.name
                FROM dim_dhis_organisationunit a , facilities_facility b
                WHERE a.code = CAST(b.code as VarChar) AND b.id = '%s' ''' %(facility_id)
    
    facility_orgunit = pd.read_sql(query,conn)
    
    return facility_orgunit

In [131]:
get_facility_org_units("da850a5f-df4e-4650-b950-2f86839748f7")

   organisationunitid   code                name
0               24726  14120  St Monica Hospital

In [132]:
#get period ids from year
def get_facility_indicator_calculated_valued():
    '''return all indicator values  '''
    conn = get_connection()
    all_indicator_values = DataFrame()
    
    query = "select * from fact_dhis_indicatorcalculatedvalues limit 100000;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_indicator_values = all_indicator_values.append(chunk)
    
    return all_indicator_values

In [133]:
ind = get_facility_indicator_calculated_valued()

In [134]:
def get_period_types():
    '''return all period types'''
    conn = get_connection()
    all_period_types = DataFrame()
    
    query = "select DISTINCT(periodtypename) as name, periodtypeid as id  from dim_dhis_period;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_period_types = all_period_types.append(chunk)
    
    return all_period_types

In [135]:
get_period_types()

               name       id
0      FinancialOct    45617
1           Monthly        5
2        SixMonthly        7
3            Yearly        8
4    FinancialApril    39627
5         Quarterly        6
6            Weekly        4
7     FinancialJuly    45616
8         BiMonthly    89687
9   SixMonthlyApril  3993294
10            Daily        3

In [136]:
def get_indicator_values(indicator_id, facility_id, period_id):
    '''return all period types'''
    conn = get_connection()
    all_period_types = DataFrame()
    
    query = "select DISTINCT(periodtypename) as name, periodtypeid as id  from dim_dhis_period;"
    for chunk in pd.read_sql(query, con=conn, chunksize=10000):
        all_period_types = all_period_types.append(chunk)
    
    return all_period_types

In [137]:
def get_facility_dataelement_datavalues(dataelement_id, source_id, period_id):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [138]:
get_facility_dataelement_datavalues('GCAkHwMAWM6','44911', '1185021')

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,33731,1185021,44911,15,15,2,Gilbert Amburosi,2015-03-25 21:55:13.344,None,False,2015-01-14 14:58:47.692,2015-12-17,None,None,None,None

In [139]:
def get_facility_dataelement_datavalues(dataelement_id, source_id, period_id, category_combo_id=None):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    if category_combo_id:
        query = ''' SELECT a.* 
                    FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                    WHERE a.dataelementid = b.dataelementid
                    AND b.uid = '%s' 
                    AND a.sourceid = %s 
                    AND a.periodid = '%s'
                    AND a.categoryoptioncomboid = '%s' ''' %(dataelement_id, source_id, period_id, category_combo_id)
    else:
        query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [140]:
get_facility_dataelement_datavalues('TJMdle70A7X','44911', '723795', 15)

Empty DataFrame
Columns: [dataelementid, periodid, sourceid, categoryoptioncomboid, attributeoptioncomboid, value, storedby, lastupdated, comment, followup, created, _datecreated, _eventexecutionkey, _lastaction, _mergekey, _sourcesystemcode]
Index: []

In [141]:
def get_facility_category_datavalues(dataelement_id, source_id, period_id):
    conn = get_connection()
    all_datavalues = DataFrame()
    
    query = ''' SELECT a.* 
                FROM fact_dhis_datavalue a , dim_dhis_dataelement b
                WHERE a.dataelementid = b.dataelementid
                AND b.uid = '%s' 
                AND a.sourceid = %s 
                AND a.periodid = '%s'; ''' %(dataelement_id, source_id, period_id)
    all_datavalues = pd.read_sql(query, con=conn )        
    
    return all_datavalues

In [142]:
def get_indicator_values(facility_id, indicator_id, period_type, year ):
    conn = get_connection()
    indicator = get_indicator_by_id(indicator_id).loc[0]
    periods = get_year_periodtypes(year,period_type)
    facility = get_facility_org_units(facility_id).loc[0]
    results = []
    
    #define the pattern for dataelements-categorycombo and extract them
    pattern = "[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+"
    numerator_dataelements = re.findall(pattern,indicator['numerator'])
    denominator_dataelements = re.findall(pattern,indicator['denominator'])

    
    #iterate through all periods
    for col, period in periods.iterrows():
        numerator = indicator['numerator'] 
        
        #iterate through dataelements 
        for datelement_category_combo in numerator_dataelements:           
            #extract the data element by searching for datalement. and replace with the id
            datelement= None
            
            # check if the dataelement has a category combo
            combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)
            
            if combo:
                #remove . in category combo expression and get uid
                combo = re.sub('\.','', combo[0])
                combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']
                
                dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
                
            else:
                combo_uid = None
                dataelement = re.findall("[a-zA-Z0-9]+", datelement_category_combo)[0]

            value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)

            if value.empty:            
                numerator = re.sub( "#{" + datelement_category_combo +"}" ,'0',numerator)                
            else:
                numerator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],numerator)                
        numerator = float(eval(numerator))
        
        
        denominator = indicator['denominator']
        for datelement_category_combo in denominator_dataelements:                       
            datelement = None
            
            combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)
            if combo:
                combo = re.sub('\.','', combo[0])
                combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']
                dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
            else:
                combo_uid = None
                dataelement = re.findall("[a-zA-Z0-9]+", datelement_category_combo)[0]

            value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)
            if value.empty:      
                denominator = re.sub( "#{" + datelement_category_combo +"}" ,'1',denominator)                
            else:
                denominator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],denominator)                
        denominator =  float(eval(denominator))
        indicator_value = {
            'indicator_id': indicator['indicatorid'],
            'value': (numerator/denominator),
            'year' : period['year'],
            'month': period['month']
        }
        
        results.append(indicator_value)
    
    return results

In [143]:
import time
start_time = time.time()
get_indicator_values('2e21b2de-7c5b-4db7-bb1d-26930af9274d',52912,5,2014)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.720944881439 seconds ---

In [144]:
get_indicator_values('2e21b2de-7c5b-4db7-bb1d-26930af9274d',52912,5,2014)

[{'indicator_id': 52912,
  'month': '12',
  'value': 0.07096774193548387,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '10',
  'value': 0.053763440860215055,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '1',
  'value': 0.047979797979797977,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '2',
  'value': 0.05864197530864197,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '3',
  'value': 0.0614406779661017,
  'year': '2014'},
 {'indicator_id': 52912, 'month': '4', 'value': 0.03125, 'year': '2014'},
 {'indicator_id': 52912,
  'month': '5',
  'value': 0.08181818181818182,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '6',
  'value': 0.08361204013377926,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '7',
  'value': 0.050505050505050504,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '8',
  'value': 0.0784313725490196,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '9',
  'value': 0.13812154696132597,
  'year': '2014'},
 {'indicator_id': 52912,
  'month': '11',
  'value': 0.0681265206812652,
  'year': '2014'}]

In [145]:
def get_period_datavalues(facility,period, indicator, numerator_dataelements, denominator_dataelements ,results, index):
    numerator = indicator['numerator'] 
    
    #iterate through dataelements 
    for datelement_category_combo in numerator_dataelements:           
        #extract the data element by searching for datalement. and replace with the id
        datelement= None

        # check if the dataelement has a category combo
        combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)

        if combo:
            #remove . in category combo expression and get uid
            combo = re.sub('\.','', combo[0])
            combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']

            dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
            
        else:
            combo_uid = None
            dataelement = re.findall("[a-zA-Z0-9]+", datelement_category_combo)[0]

        value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)

        if value.empty:            
            numerator = re.sub( "#{" + datelement_category_combo +"}" ,'0',numerator)                
        else:
            numerator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],numerator)                
    numerator = float(eval(numerator))


    denominator = indicator['denominator']
    for datelement_category_combo in denominator_dataelements:                       
        datelement = None

        combo = re.findall("\.[a-zA-Z0-9]+", datelement_category_combo)
        if combo:
            combo = re.sub('\.','', combo[0])
            combo_uid = get_category_option_combo_by_uid(combo).loc[0]['categoryoptioncomboid']
            dataelement = re.sub('\.','' , re.findall("[a-zA-Z0-9]+\.", datelement_category_combo)[0]) 
        else:
            combo_uid = None
            dataelement = re.findall("[a-zA-Z0-9]+", datelement_category_combo)[0]

        value = get_facility_dataelement_datavalues(dataelement, facility['organisationunitid'], period['periodid'], combo_uid)
        if value.empty:      
            denominator = re.sub( "#{" + datelement_category_combo +"}" ,'1',denominator)                
        else:
            denominator = re.sub("#{" + datelement_category_combo +"}" ,value.loc[0]['value'],denominator)                
    denominator =  float(eval(denominator))
    indicator_value = {
        'indicator_id': indicator['indicatorid'],
        'value': (numerator/denominator),
        'year' : period['year'],
        'month': period['month']
    }

    results.append(indicator_value)
        
    return results

In [146]:

def get_indicator_values2(facility_id, indicator_id, period_type, year ):
    from threading import Thread
    
    conn = get_connection()
    indicator = get_indicator_by_id(indicator_id).loc[0]
    periods = get_year_periodtypes(year,period_type)
    facility = get_facility_org_units(facility_id).loc[0]
    
    threads = [None] * len(periods.index)
    results = []
    
    #define the pattern for dataelements-categorycombo and extract them
    pattern = "[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+"
    numerator_dataelements = re.findall(pattern,indicator['numerator'])
    denominator_dataelements = re.findall(pattern,indicator['denominator'])

    
    #iterate through all periods
    for col, period in periods.iterrows():
        threads[col] = Thread(target= get_period_datavalues, args=(facility, period, indicator, numerator_dataelements, denominator_dataelements, results, col))
        threads[col].start()

    for i in range(len(threads)):
        threads[i].join()
    return results

In [147]:
conn = get_connection()
# pd.read_sql( ('''Select * from dim_dhis_dataelement  where dataelementid = '%s' ''' %(33731)),  conn)
# pd.read_sql( ('''Select * from dim_dhis_dataelement  where uid = '%s' ''' %('qa1IrxISrSJ')),  conn)
# pd.read_sql( ('''Select * from dim_dhis_categoryoptioncombo  where uid = '%s' ''' %('NhSoXUMPK2K')),  conn)
# pd.read_sql( ('''select * from dim_dhis_period where periodid = '%s' ''' %(1185021)), conn)
# pd.read_sql( ('''select * from dim_dhis_period where periodtypeid = '%s' ''' %(4)), conn)
# pd.read_sql( '''select * from dim_dhis_period LIMIT 1000''', conn)
# pd.read_sql( ('''select * from dim_dhis_organisationunit where organisationunitid = '%s' ''' %(44911)), conn)
# pd.read_sql( ('''select * from facilities_facility where code = '%s' ''' %(15798)), conn)
# pd.read_sql( ('''select * from facilities_facility where id = '%s' ''' %("028d858c-c21d-4391-b4eb-7fea8ef0cb32")), conn)
pd.read_sql( (''' select * from dim_dhis_indicator where indicatorid =  '%s' '''%(413098)), conn)[['numerator']].to_json()
# pd.read_sql( ''' select * from dim_dhis_indicator ''', conn)[['denominator','indicatorid']]
# pd.read_sql( ''' select * from fact_dhis_datavalue LIMIT 1000  ''', conn)
# pd.read_sql( (''' select * from dim_dhis_ where indicatorid =  '%s' '''%(61829)), conn)

'{"numerator":{"0":"#{qa1IrxISrSJ}+#{qMybCnYBkNY}"}}'

In [148]:
pd.read_sql('SELECT * from fact_dhis_datavalue limit 1000',conn)

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,510477,1185021,44751,510530,15,57,Anita,2014-12-04 15:00:20.411,None,None,2014-12-04 15:00:20.414,2015-12-17,None,None,None,None
1,21372,1185021,45114,21315,15,6,Stmaryshosp,2014-12-04 15:00:56.715,None,None,2014-12-04 15:00:56.719,2015-12-17,None,None,None,None
2,20931,1185021,45161,20673,15,29,Sabatia,2014-12-04 14:43:15.596,None,False,2014-12-04 14:43:15.599,2015-12-17,None,None,None,None
3,23568,1185021,51442,15,15,20,kathunig,2014-12-04 14:51:24.500,None,False,2014-12-04 14:51:24.502,2015-12-17,None,None,None,None
4,52575,1185021,45161,15,15,1,Sabatia,2014-12-04 14:51:33.124,None,False,2014-12-04 14:51:33.127,2015-12-17,None,None,None,None
5,79143,1185021,35549,15,15,33,kampaine,2014-12-04 14:32:46.063,None,None,2014-12-04 14:32:46.064,2015-12-17,None,None,None,None
6,20921,1185021,45508,20676,15,1,PRISONTRAININGCENTRE,2014-12-04 14:32:46.659,None,None,2014-12-04 14:32:46.661,2015-12-17,None,None,None,None
7,59580,1185021,32821,21260,15,4,kamaujohn,2014-12-04 14:32:49.182,None,None,2014-12-04 14:32:49.184,2015-12-17,None,None,None,None
8,510548,1185021,32402,510538,15,23,Zaccheaus Ouma,2014-12-04 14:33:51.407,None,None,2014-12-04 14:33:51.411,2015-12-17,None,None,None,None
9,20914,1185021,39646,20673,15,25,kandielucy,2014-12-04 14:33:58.504,None,None,2014-12-04 14:33:58.507,2015-12-17,None,None,None,None
10,21627,1185021,32551,21617,15,6,Sheryl Achieng,2014-12-04 14:34:25.559,None,None,2014-12-04 14:34:25.562,2015-12-17,None,None,None,None
11,20931,1185021,39646,20673,15,41,kandielucy,2014-12-04 14:34:26.938,None,None,2014-12-04 14:34:26.940,2015-12-17,None,None,None,None
12,59941,1185021,35549,15,15,38,kampaine,2014-12-04 14:34:27.207,None,None,2014-12-04 14:34:27.209,2015-12-17,None,None,None,None
13,33814,1185021,45201,15,15,3,Sabatia,2014-12-04 14:34:40.753,None,None,2014-12-04 14:34:40.754,2015-12-17,None,None,None,None
14,20950,1185021,35115,20676,15,278,dataclerk k,2014-12-04 14:36:53.994,None,None,2014-12-04 14:36:54.000,2015-12-17,None,None,None,None
15,21397,1185021,45201,21261,15,6,Sabatia,2014-12-04 14:36:54.690,None,None,2014-12-04 14:36:54.692,2015-12-17,None,None,None,None
16,21241,1185021,31858,21259,15,1,gatupg,2014-12-04 14:36:54.744,None,None,2014-12-04 14:36:54.747,2015-12-17,None,None,None,None
17,792266,1185021,45201,20673,15,28,Sabatia,2014-12-04 14:38:33.945,None,None,2014-12-04 14:38:33.948,2015-12-17,None,None,None,None
18,21487,1185021,39646,15,15,640,kandielucy,2014-12-04 14:38:39.809,None,None,2014-12-04 14:38:39.812,2015-12-17,None,None,None,None
19,20937,1185021,45201,20673,15,27,Sabatia,2014-12-04 14:38:40.243,None,None,2014-12-04 14:38:40.247,2015-12-17,None,None,None,None
20,21370,1185021,31858,21259,15,17,gatupg,2014-12-04 14:38:40.776,None,None,2014-12-04 14:38:40.779,2015-12-17,None,None,None,None
21,20967,1185021,45201,23581,15,3,Sabatia,2014-12-04 14:38:59.486,None,None,2014-12-04 14:38:59.489,2015-12-17,None,None,None,None
22,21381,1185021,31858,21316,15,154,gatupg,2014-12-04 14:39:15.639,None,None,2014-12-04 14:39:15.643,2015-12-17,None,None,None,None
23,164968,1185021,45201,21315,15,16,Sabatia,2014-12-04 14:40:27.376,None,None,2014-12-04 14:40:27.379,2015-12-17,None,None,None,None
24,100476,723879,35194,100474,15,63,wilsonkoech,2014-12-04 14:40:41.429,None,None,2014-12-04 14:40:41.434,2015-12-17,None,None,None,None
25,20955,1185021,50011,20676,15,113,kinyenze,2014-12-04 14:40:44.559,None,None,2014-12-04 14:40:44.562,2015-12-17,None,None,None,None
26,77843,1185021,45201,21316,15,13,Sabatia,2014-12-04 14:40:45.010,None,None,2014-12-04 14:40:45.013,2015-12-17,None,None,None,None
27,510459,1185021,32402,510523,15,1000,Zaccheaus Ouma,2014-12-04 14:40:45.492,None,None,2014-12-04 14:40:45.495,2015-12-17,None,None,None,None
28,513960,1185021,39646,513999,15,2,kandielucy,2014-12-04 14:41:18.146,None,None,2014-12-04 14:41:18.150,2015-12-17,None,None,None,None
29,21587,1185021,45201,21268,15,63,Sabatia,2014-12-04 14:41:29.921,None,None,2014-12-04 14:41:29.925,2015-12-17,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,21368,1185021,31851,21260,15,1,gatupg,2014-12-04 14:57:23.040,None,None,2014-12-04 14:57:23.043,2015-12-17,None,None,None,None
971,21482,1185021,45114,15,15,400,Stmaryshosp,2014-12-04 14:57:24.861,None,None,2014-12-04 14:57:24.865,2015-12-17,None,None,None,None
972,21388,1185021,45161,21261,15,1,Sabatia,2014-12-04 14:57:27.448,None,None,2014-12-04 14:57:27.449,2015-12-17,None,None,None,None
973,513960,1185021,61227,513996,15,13,joysambu,2014-12-04 14:57:27.518,None,None,2014-12-04 14:57:27.522,2015-12-17,None,None,None,None
974,514004,1185021,45492,513996,15,1,mbaecarol,2014-12-04 14:57:27.765,None,None,2014-12-04 14:57:27.768,2015-12-17,None,None,None,None
975,514008,1185021,45492,514000,15,650,mbaecarol,2014-12-04 15:01:00.967,None,None,2014-12-04 15:01:00.971,2015-12-17,None,None,None,None
976,62012,1185021,45114,21316,15,104,Stmaryshosp,2014-12-04 15:01:01.519,None,None,2014-12-04 15:01:01.522,2015-12-17,None,None,None,None
977,21375,1185021,122919,21316,15,1,gatupg,2014-12-04 15:01:03.191,None,None,2014-12-04 15:01:03.195,2015-12-17,None,None,None,None
978,34029,1185021,404142,15,15,6,Sabatia,2014-12-04 15:01:07.088,None,None,2014-12-04 15:01:07.091,2015-12-17,None,None,None,None
979,21290,1185021,32708,15,15,65,kamaujohn,2014-12-04 15:01:07.435,None,None,2014-12-04 15:01:07.439,2015-12-17,None,None,None,None
980,21295,1185021,32708,15,15,2,kamaujohn,2014-12-04 15:01:22.240,None,None,2014-12-04 15:01:22.244,2015-12-17,None,None,None,None
981,513975,1185021,44459,514000,15,19,joysambu,2014-12-04 15:01:37.283,None,None,2014-12-04 15:01:37.286,2015-12-17,None,None,None,None
982,21388,1185021,122919,21260,15,5,gatupg,2014-12-04 15:01:37.829,None,None,2014-12-04 15:01:37.833,2015-12-17,None,None,None,None
983,34013,1185021,250801,15,15,27,Sabatia,2014-12-04 15:02:08.962,None,None,2014-12-04 15:02:08.965,2015-12-17,None,None,None,None
984,150387,1185021,80167,15,15,23,damariskweheria,2014-12-04 15:05:24.209,None,None,2014-12-04 15:05:24.213,2015-12-17,None,None,None,None
985,21241,1185021,31868,21260,15,2,gatupg,2014-12-04 15:05:24.753,None,None,2014-12-04 15:05:24.756,2015-12-17,None,None,None,None
986,21606,1185021,44459,15,15,28,joysambu,2014-12-04 15:05:48.546,None,None,2014-12-04 15:05:48.551,2015-12-17,None,None,None,None
987,164968,1185021,31951,21316,15,48,Agola George,2014-12-04 15:05:49.392,None,None,2014-12-04 15:05:49.396,2015-12-17,None,None,None,None
988,34005,1185021,80167,15,15,14,damariskweheria,2014-12-04 15:05:50.004,None,None,2014-12-04 15:05:50.009,2015-12-17,None,None,None,None
989,288509,1185021,44459,15,15,2014-12-04,joysambu,2014-12-04 15:05:59.498,None,None,2014-12-04 15:05:59.500,2015-12-17,None,None,None,None
990,21361,1185021,31868,21326,15,11,gatupg,2014-12-04 15:06:19.238,None,None,2014-12-04 15:06:19.243,2015-12-17,None,None,None,None
991,21296,1185021,45114,15,15,4,Stmaryshosp,2014-12-04 15:06:19.283,None,None,2014-12-04 15:06:19.286,2015-12-17,None,None,None,None
992,100442,1185021,44459,100439,15,195,joysambu,2014-12-04 15:06:19.399,None,None,2014-12-04 15:06:19.402,2015-12-17,None,None,None,None
993,21588,1185021,223957,21268,15,25,edithnduta,2014-12-04 15:06:24.227,None,None,2014-12-04 15:06:24.230,2015-12-17,None,None,None,None
994,20916,1185021,50436,20676,15,3,emmawavinya,2014-12-04 15:06:24.283,None,None,2014-12-04 15:06:24.288,2015-12-17,None,None,None,None
995,77844,1185021,31951,21316,15,55,Agola George,2014-12-04 15:06:24.417,None,None,2014-12-04 15:06:24.421,2015-12-17,None,None,None,None
996,21585,1185021,39654,21268,15,40,kandielucy,2014-12-04 15:07:36.987,None,None,2014-12-04 15:07:36.990,2015-12-17,None,None,None,None
997,21346,1185021,45114,15,15,3,Stmaryshosp,2014-12-04 15:07:37.587,None,None,2014-12-04 15:07:37.591,2015-12-17,None,None,None,None
998,21622,1185021,223957,21615,15,46,edithnduta,2014-12-04 15:07:37.820,None,None,2014-12-04 15:07:37.823,2015-12-17,None,None,None,None
999,514001,1185021,44751,513996,15,5,Anita,2014-12-04 15:07:40.891,None,None,2014-12-04 15:07:40.894,2015-12-17,None,None,None,None

In [149]:
indis = pd.read_sql("select * from dim_dhis_indicator ", get_connection())
indis[indis['numerator'].str.contains('GCAkHwMAWM6')]
# Series.unique(indis['indicatortypename'])

,indicatorid,indicatorname,shortname,code,description,annualized,indicatortypeid,indicatortypename,indicatortypefactor,indicatortypenumber,...,denominator,denominatordescription,uid,denominatorsql,numeratorsql,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
373,61829,PMTCT Positivity at ANC,PMTCT Positivity at ANC,None,"([HV02-05] + [HV02-06]) / [Integrated RH, HIVA...",False,21017,Percentage,100,False,...,#{f9vesk5d4IY.NhSoXUMPK2K},New ANC clients (ANC 1st Visit),None,SELECT value1 as denominator FROM (SELECT CO...,SELECT value1+value2 as numerator FROM (SELEC...,2016-02-01,None,I,None,None
712,477152,Total number of HIV-positive pregnant women in...,Total number of HIV-positive pregnant,None,None,False,23696,Number,1,True,...,1,None,None,SELECT 1 as denominator,SELECT value1+value2 as numerator FROM (SELEC...,2016-02-01,None,I,None,None

In [150]:
periods = get_year_periodtypes(2014,7)[['year','month']]
    
periods

   year month
0  2014     1
1  2014     7

In [151]:
pd.read_sql('''select * from fact_dhis_datavalue  where fact_dhis_datavalue.dataelementid=21396  LIMIT 10000''', get_connection())

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,21396,1185021,44751,21260,15,5,Anita,2014-12-04 14:47:34.429,None,None,2014-12-04 14:47:34.433,2015-12-17,None,None,None,None
1,21396,1185021,31868,21260,15,6,gatupg,2014-12-04 15:10:22.522,None,None,2014-12-04 15:10:22.529,2015-12-17,None,None,None,None
2,21396,1185021,45161,21260,15,4,Sabatia,2014-12-04 14:57:48.129,None,None,2014-12-04 14:57:48.132,2015-12-17,None,None,None,None
3,21396,1185021,32426,21260,15,10,Ahomomike,2014-12-04 15:13:08.485,None,False,2014-12-04 15:13:08.488,2015-12-17,None,None,None,None
4,21396,1185021,32830,21260,15,1,kamaujohn,2014-12-04 14:58:14.611,None,None,2014-12-04 14:58:14.616,2015-12-17,None,None,None,None
5,21396,1185021,122919,21260,15,11,gatupg,2014-12-04 15:02:13.095,None,None,2014-12-04 15:02:13.097,2015-12-17,None,None,None,None
6,21396,1185021,32815,21260,15,4,mutaigr,2014-12-04 15:32:40.076,None,None,2014-12-04 15:32:40.079,2015-12-17,None,None,None,None
7,21396,1185021,45114,21260,15,20,Stmaryshosp,2014-12-04 15:14:23.910,None,None,2014-12-04 15:14:23.914,2015-12-17,None,None,None,None
8,21396,1185021,31847,21260,15,19,gatupg,2014-12-04 15:19:25.688,None,None,2014-12-04 15:19:25.690,2015-12-17,None,None,None,None
9,21396,1185021,45200,21260,15,1,Sabatia,2014-12-04 16:21:51.456,None,None,2014-12-04 16:21:51.458,2015-12-17,None,None,None,None
10,21396,1185021,34393,21260,15,2,thuo,2014-12-04 16:09:40.861,None,None,2014-12-04 16:09:40.864,2015-12-17,None,None,None,None
11,21396,1185021,35318,21260,15,1,lydiah,2014-12-04 16:19:10.763,None,None,2014-12-04 16:19:10.765,2015-12-17,None,None,None,None
12,21396,1185021,24726,21260,15,20,caroline soita,2014-12-04 16:28:27.923,None,None,2014-12-04 16:28:27.926,2015-12-17,None,None,None,None
13,21396,1185021,45058,21260,15,1,Likuyani Hospital,2014-12-04 16:27:55.483,None,None,2014-12-04 16:27:55.486,2015-12-17,None,None,None,None
14,21396,1185021,34369,21260,15,8,thuo,2014-12-04 16:26:31.452,None,None,2014-12-04 16:26:31.454,2015-12-17,None,None,None,None
15,21396,1185021,24721,21260,15,14,caroline soita,2014-12-04 16:44:53.613,None,None,2014-12-04 16:44:53.618,2015-12-17,None,None,None,None
16,21396,1185021,34392,21260,15,2,thuo,2014-12-04 17:06:01.621,None,None,2014-12-04 17:06:01.625,2015-12-17,None,None,None,None
17,21396,1185021,34389,21260,15,1,thuo,2014-12-04 16:48:29.166,None,False,2014-12-04 16:48:29.169,2015-12-17,None,None,None,None
18,21396,1185021,24546,21260,15,2,Emutavane,2014-12-04 17:18:22.219,None,None,2014-12-04 17:18:22.221,2015-12-17,None,None,None,None
19,21396,1185021,24719,21260,15,4,caroline soita,2014-12-04 17:00:30.745,None,None,2014-12-04 17:00:30.749,2015-12-17,None,None,None,None
20,21396,1185021,31911,21260,15,37,Ogonda,2014-12-04 17:24:02.928,None,False,2014-12-04 17:24:02.933,2015-12-17,None,None,None,None
21,21396,1185021,38262,21260,15,1,faith,2014-12-04 18:42:41.078,None,None,2014-12-04 18:42:41.080,2015-12-17,None,None,None,None
22,21396,1185021,51451,21260,15,3,harriekage,2014-12-04 17:54:12.320,None,None,2014-12-04 17:54:12.323,2015-12-17,None,None,None,None
23,21396,1185021,22702,21260,15,3,faith,2014-12-04 17:30:40.992,None,False,2014-12-04 17:30:40.995,2015-12-17,None,None,None,None
24,21396,1185021,32564,21260,15,1,Pamela Amboko,2014-12-04 18:52:47.393,None,None,2014-12-04 18:52:47.396,2015-12-17,None,None,None,None
25,21396,1185021,24539,21260,15,1,Emutavane,2014-12-04 19:19:05.126,None,None,2014-12-04 19:19:05.129,2015-12-17,None,None,None,None
26,21396,1185021,23334,21260,15,2,nyamira,2014-12-04 19:28:11.067,None,None,2014-12-04 19:28:11.070,2015-12-17,None,None,None,None
27,21396,1185021,23331,21260,15,3,nyamira,2014-12-04 21:40:23.629,None,None,2014-12-04 21:40:23.631,2015-12-17,None,None,None,None
28,21396,1185021,39558,21260,15,1,carnjsang,2014-12-04 23:34:50.260,None,None,2014-12-04 23:34:50.261,2015-12-17,None,None,None,None
29,21396,1185021,23329,21260,15,1,nyamira,2014-12-04 20:50:34.787,None,None,2014-12-04 20:50:34.791,2015-12-17,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,21396,2890974,50147,21260,15,1,janetmwikali,2015-07-08 13:18:38.504,None,False,2015-07-08 13:18:38.506,2015-12-17,None,None,None,None
9971,21396,2890974,49993,21260,15,23,mulwawabua,2015-07-08 13:17:19.022,None,False,2015-07-08 13:17:19.024,2015-12-17,None,None,None,None
9972,21396,2890974,43217,21260,15,2,eunpere,2015-07-08 13:27:11.562,None,False,2015-07-08 13:27:11.569,2015-12-17,None,None,None,None
9973,21396,2890974,38201,21260,15,9,kariukijane24,2015-07-08 13:36:42.852,None,False,2015-07-08 13:36:42.854,2015-12-17,None,None,None,None
9974,21396,2890974,2153868,21260,15,1,Gilbert Amburosi,2015-07-08 13:33:24.285,None,False,2015-07-08 13:33:24.287,2015-12-17,None,None,None,None
9975,21396,2890974,34406,21260,15,13,thuo,2015-07-08 13:44:39.722,None,False,2015-07-08 13:44:39.723,2015-12-17,None,None,None,None
9976,21396,2890974,44406,21260,15,5,Ireneolum,2015-07-08 13:51:37.710,None,None,2015-07-08 13:51:37.712,2015-12-17,None,None,None,None
9977,21396,2890974,43229,21260,15,1,eunpere,2015-07-08 13:55:59.253,None,None,2015-07-08 13:55:59.255,2015-12-17,None,None,None,None
9978,21396,2890974,425913,21260,15,2,Dradams,2015-07-08 13:55:44.924,None,None,2015-07-08 13:55:44.926,2015-12-17,None,None,None,None
9979,21396,2890974,35549,21260,15,8,kampaine,2015-07-08 14:04:28.230,None,False,2015-07-08 14:04:28.232,2015-12-17,None,None,None,None
9980,21396,2890974,45091,21260,15,2,Memmy,2015-07-08 14:05:16.449,None,False,2015-07-08 14:05:16.453,2015-12-17,None,None,None,None
9981,21396,2890974,35637,21260,15,2,Kiprop Limo,2015-07-08 14:09:33.245,None,None,2015-07-08 14:09:33.247,2015-12-17,None,None,None,None
9982,21396,2890974,39758,21260,15,1,eunpere,2015-07-08 14:06:24.133,None,None,2015-07-08 14:06:24.135,2015-12-17,None,None,None,None
9983,21396,2890974,44398,21260,15,2,Ireneolum,2015-07-08 14:15:21.359,None,None,2015-07-08 14:15:21.362,2015-12-17,None,None,None,None
9984,21396,2890974,43234,21260,15,1,eunpere,2015-07-08 14:14:46.755,None,False,2015-07-08 14:14:46.756,2015-12-17,None,None,None,None
9985,21396,2890974,45106,21260,15,3,Sirma,2015-07-08 14:25:50.849,None,False,2015-07-08 14:25:50.850,2015-12-17,None,None,None,None
9986,21396,2890974,35683,21260,15,1,Kiprop Limo,2015-07-08 14:31:26.993,None,None,2015-07-08 14:31:26.995,2015-12-17,None,None,None,None
9987,21396,2890974,24657,21260,15,6,kimeli,2015-07-08 14:29:20.697,None,None,2015-07-08 14:29:20.699,2015-12-17,None,None,None,None
9988,21396,2890974,32053,21260,15,14,Thorm Ondari,2015-07-08 14:29:52.122,None,None,2015-07-08 14:29:52.124,2015-12-17,None,None,None,None
9989,21396,2890974,35112,21260,15,3,elsie,2015-07-08 14:38:50.580,None,False,2015-07-08 14:38:50.583,2015-12-17,None,None,None,None
9990,21396,2890974,32547,21260,15,6,Rebeca Imani Otieno,2015-07-08 14:49:45.835,None,False,2015-07-08 14:49:45.837,2015-12-17,None,None,None,None
9991,21396,2890974,23299,21260,15,3,Nehemia Bogonko,2015-07-08 14:51:03.581,None,None,2015-07-08 14:51:03.583,2015-12-17,None,None,None,None
9992,21396,2890974,44411,21260,15,2,Ireneolum,2015-07-08 14:46:59.993,None,None,2015-07-08 14:46:59.995,2015-12-17,None,None,None,None
9993,21396,2890974,24695,21260,15,142,caroline soita,2015-07-08 14:44:08.102,None,None,2015-07-08 14:44:08.104,2015-12-17,None,None,None,None
9994,21396,2890974,23304,21260,15,1,Nehemia Bogonko,2015-07-08 14:56:35.618,None,None,2015-07-08 14:56:35.620,2015-12-17,None,None,None,None
9995,21396,2890974,367591,21260,15,1,JohnKodira,2015-07-08 15:04:06.319,None,None,2015-07-08 15:04:06.322,2015-12-17,None,None,None,None
9996,21396,2890974,45093,21260,15,5,Memmy,2015-07-08 15:04:30.437,None,None,2015-07-08 15:04:30.439,2015-12-17,None,None,None,None
9997,21396,2890974,44925,21260,15,1,Gilbert Amburosi,2015-07-08 15:07:14.866,None,None,2015-07-08 15:07:14.868,2015-12-17,None,None,None,None
9998,21396,2890974,24459,21260,15,2,wamaru,2015-07-08 15:15:11.011,None,None,2015-07-08 15:15:11.013,2015-12-17,None,None,None,None
9999,21396,2890974,45094,21260,15,5,Memmy,2015-07-08 15:14:49.191,None,None,2015-07-08 15:14:49.193,2015-12-17,None,None,None,None

In [152]:
pd.read_sql(''' SELECT a.*
                    FROM fact_dhis_datavalue AS a , dim_dhis_dataelement b                    
                    WHERE  a.dataelementid = b.dataelementid
                    AND b.uid  = 'qa1IrxISrSJ' 
                    AND a.sourceid = '33707' 
                    AND a.periodid = '723795'
                    LIMIT 100''', get_connection())

Empty DataFrame
Columns: [dataelementid, periodid, sourceid, categoryoptioncomboid, attributeoptioncomboid, value, storedby, lastupdated, comment, followup, created, _datecreated, _eventexecutionkey, _lastaction, _mergekey, _sourcesystemcode]
Index: []

In [153]:
def get_facility_indicator_values_singlefetch(facility_id, indicator_id, period_type, year):
    conn = get_connection()
    indicator = get_indicator_by_id(indicator_id).loc[0]
    periods = get_year_periodtypes(year,period_type)
    facility = get_facility_org_units(facility_id).loc[0]
    results = []
    
    #define the pattern for dataelements-categorycombo and extract them
    pattern = "[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+"
    numerator_formula = indicator['numerator']
    new_numerator_formula=''
    denominator_formula = indicator['denominator']
    

    #filter all dataelement only and add to list
    categorycombos_only = re.findall('\.[a-zA-Z0-9]+', indicator['numerator'] + indicator['denominator'])

    #strip off the . 
    categorycombos_only = tuple([re.sub('\.','', x)  for x in categorycombos_only])
    if not categorycombos_only:
        categorycombos_only = """(NULL)"""
    else:
        if len(categorycombos_only) == 1:
            categorycombos_only = "(\'" +str(categorycombos_only[0])+'\')'
    
    
    #remove the categoryoptioncombos from the list
    indicator_numerator = re.sub('\.[a-zA-Z0-9]+','', indicator['numerator'] + indicator['denominator'])
    
    #the remaining are dataelements only
    dataelements_only = tuple(re.findall('[a-zA-Z0-9]+' , indicator_numerator))
    if len(dataelements_only) == 1:
        dataelements_only = "(\'" +str(dataelements_only[0])+'\')'
    
    
    #filter all categoryoption combox and add to list
    for col,period in periods.iterrows():
        query = '''
                SELECT a.*, b.uid AS dataelement_uid, c.uid as categoryoptioncombo_uid
                    FROM fact_dhis_datavalue AS a , dim_dhis_dataelement b, dim_dhis_categoryoptioncombo c                    
                    WHERE (  (b.uid  in %s AND c.uid in %s ) OR b.uid  in %s ) 
                    AND a.dataelementid = b.dataelementid
                    AND a.categoryoptioncomboid = c.categoryoptioncomboid
                    AND a.sourceid = %s 
                    AND a.periodid = '%s'
                    LIMIT 1000'''%(str(dataelements_only) , str(categorycombos_only),  str(dataelements_only) ,  facility['organisationunitid'], period['periodid'] )
        values = pd.read_sql(query, get_connection())
        
        
        dataelement_categorycombo_pairs = re.findall('[a-zA-Z0-9]+\.[a-zA-Z0-9]+', numerator_formula)
        if dataelement_categorycombo_pairs:
            for pairs in dataelement_categorycombo_pairs:
                dataelement, categoryoptioncombo =  pairs.split(".") 
                try:
                    value = values.loc[values[(values['dataelement_uid']== dataelement) & (values['categoryoptioncombo_uid']== categoryoptioncombo)].index]['value'].iloc[0]
                except:
                    value = 0                 
                    
                numerator_formula = re.sub("""#{%s.%s}"""%(dataelement, categoryoptioncombo), str(value), numerator_formula)  
                
        temp_numerator_formula = numerator_formula        
        dataelements_only_pairs = re.findall('[a-z,A-Z0-9]{6,}', temp_numerator_formula)
        if dataelements_only_pairs:            
            for pairs in dataelements_only_pairs :   
                
                try:
                    value = values.loc[values[values['dataelement_uid']== pairs].index]['value'].iloc[0]
                except:         
                    value = 0       
                
                numerator_formula = re.sub("""#{%s}"""%(pairs), str(value), numerator_formula)
        numerator_formula = float(eval(numerator_formula))
        
        
        dataelement_categorycombo_pairs = re.findall('[a-zA-Z0-9]+\.[a-zA-Z0-9]+', denominator_formula)
        if dataelement_categorycombo_pairs:
            for pairs in dataelement_categorycombo_pairs:
                dataelement, categoryoptioncombo =  pairs.split(".") 
                try:
                    value = values.loc[values[(values['dataelement_uid']== dataelement) & (values['categoryoptioncombo_uid']== categoryoptioncombo)].index]['value'].iloc[0]
                except:
                    value = 0                 
                    
                denominator_formula = re.sub("""#{%s.%s}"""%(dataelement, categoryoptioncombo), str(value), denominator_formula)  
                
        temp_denominator_formula = denominator_formula        
        dataelements_only_pairs = re.findall('[a-z,A-Z0-9]{6,}', temp_denominator_formula)
        if dataelements_only_pairs:            
            for pairs in dataelements_only_pairs :   
                
                try:
                    value = values.loc[values[values['dataelement_uid']== pairs].index]['value'].iloc[0]
                except:         
                    value = 0
                
                denominator_formula = re.sub("""#{%s}"""%(pairs), str(value), denominator_formula)
        denominator_formula = float(eval(denominator_formula))
        if denominator_formula == 0:
            denominator_formula = 1
        
        

        indicator_value = {
            'indicator_id': indicator['indicatorid'],
            'value': (numerator_formula/denominator_formula),
            'year' : period['year'],
            'month': period['month']
        }
        results.append(indicator_value)
        
        numerator_formula = indicator['numerator']
        denominator_formula = indicator['denominator']
    return results
get_facility_indicator_values_singlefetch('2e21b2de-7c5b-4db7-bb1d-26930af9274d',445265,5,2014)

[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '7', 'value': 922.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '8', 'value': 908.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]

In [154]:
# r  =get_facility_indicator_values_singlefetch('2e21b2de-7c5b-4db7-bb1d-26930af9274d',32964,5,2014)
r  = get_facility_indicator_values_singlefetch('2e21b2de-7c5b-4db7-bb1d-26930af9274d',413098,5,2014)
# r

In [155]:

r

[{'indicator_id': 413098, 'month': '12', 'value': 281.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '10', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '1', 'value': 346.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '2', 'value': 345.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '3', 'value': 340.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '4', 'value': 353.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '5', 'value': 344.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '6', 'value': 345.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '7', 'value': 332.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '8', 'value': 351.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '9', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 413098, 'month': '11', 'value': 297.0, 'year': '2014'}]

In [156]:
sum =0
for x in range(0, 4):
    import time
    start_time = time.time()
    get_indicator_values('2e21b2de-7c5b-4db7-bb1d-26930af9274d',32980,5,2014)
#     print("--- %s seconds ---" % (time.time() - start_time))
    sum = sum + (time.time() - start_time)

print (sum/5)

2.59544243813

In [157]:
sum =0
for x in range(0, 4):
    import time
    start_time = time.time()
    get_indicator_values2('2e21b2de-7c5b-4db7-bb1d-26930af9274d',32980,5,2014)
#     print("--- %s seconds ---" % (time.time() - start_time))
    sum = sum + (time.time() - start_time)

print (sum/5)

1.84532160759

In [158]:
sum =0
for x in range(0, 4):
    import time
    start_time = time.time()
    get_facility_indicator_values_singlefetch('2e21b2de-7c5b-4db7-bb1d-26930af9274d',32980,5,2014)
#     print("--- %s seconds ---" % (time.time() - start_time))
    sum = sum + (time.time() - start_time)

print (sum/5)

0.656586647034

In [159]:

get_facility_indicator_values_singlefetch('2e21b2de-7c5b-4db7-bb1d-26930af9274d',445265,5,2014)

[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '7', 'value': 922.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '8', 'value': 908.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'},
 {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]

In [160]:
r = pd.read_sql('SELECT * from common_ward',get_connection())
# pd.read_sql('SELECT * from facilities_facility',get_connection()).columns
# pd.read_sql('SELECT * from dim_dhis_organisationunit',get_connection()).columns

In [161]:
def get_ward_indicator_values_singlefetch(ward_id, indicator_id, period_type, year):
    query ="""
            SELECT a.* 
            from dim_dhis_organisationunit a, facilities_facility b, common_ward c
            WHERE a.mflcode = b.code
            AND b.ward_id = c.id
            AND c.id = '%s'
            """%(ward_id)
    orgunits = pd.read_sql(query, get_connection())
    
    
    indicator = get_indicator_by_id(indicator_id).loc[0]
    periods = get_year_periodtypes(year,period_type)
    orgunits =  tuple(orgunits['organisationunitid'].values.tolist())
    results = []
    
    
    
    #define the pattern for dataelements-categorycombo and extract them
    pattern = "[a-zA-Z0-9]+\.[a-zA-Z0-9]+|[a-zA-Z0-9]+"
    numerator_formula = indicator['numerator']
    new_numerator_formula=''
    denominator_formula = indicator['denominator']
    

    #filter all dataelement only and add to list
    categorycombos_only = re.findall('\.[a-zA-Z0-9]+', indicator['numerator'] + indicator['denominator'])

    #strip off the . 
    categorycombos_only = tuple([re.sub('\.','', x)  for x in categorycombos_only])
    if not categorycombos_only:
        categorycombos_only = """(NULL)"""
    else:
        if len(categorycombos_only) == 1:
            categorycombos_only = "(\'" +str(categorycombos_only[0])+'\')'
    
    
    #remove the categoryoptioncombos from the list
    indicator_numerator = re.sub('\.[a-zA-Z0-9]+','', indicator['numerator'] + indicator['denominator'])
    
    #the remaining are dataelements only
    dataelements_only = tuple(re.findall('[a-zA-Z0-9]+' , indicator_numerator))
    if len(dataelements_only) == 1:
        dataelements_only = "(\'" +str(dataelements_only[0])+'\')'
    
    print numerator_formula
    print denominator_formula
    #filter all categoryoption combox and add to list
    for col,period in periods.iterrows():
        query = '''
                SELECT a.*, b.uid AS dataelement_uid, c.uid as categoryoptioncombo_uid
                    FROM fact_dhis_datavalue AS a , dim_dhis_dataelement b, dim_dhis_categoryoptioncombo c                    
                    WHERE (  (b.uid  in %s AND c.uid in %s ) OR b.uid  in %s ) 
                    AND a.dataelementid = b.dataelementid
                    AND a.categoryoptioncomboid = c.categoryoptioncomboid
                    AND a.sourceid in %s 
                    AND a.periodid = '%s'
                    LIMIT 1000'''%(str(dataelements_only) , str(categorycombos_only),  str(dataelements_only) ,  orgunits, period['periodid'] )
        
        values = pd.read_sql(query, get_connection())
        #convert the values to float
        values['value']=values['value'].astype(int)
        
        return values
        
        dataelement_categorycombo_pairs = re.findall('[a-zA-Z0-9]+\.[a-zA-Z0-9]+', numerator_formula)
        if dataelement_categorycombo_pairs:
            for pairs in dataelement_categorycombo_pairs:
                dataelement, categoryoptioncombo =  pairs.split(".")                 
                try:
                    value = values[ (values['dataelement_uid']==dataelement) &(values['categoryoptioncombo_uid']==categoryoptioncombo)].groupby(['dataelementid','categoryoptioncomboid']).sum()['value'].iloc[0]                    
                except:
                    value = 0                 
                
                
                numerator_formula = re.sub("""#{%s.%s}"""%(dataelement, categoryoptioncombo), str(value), numerator_formula)  
                
        temp_numerator_formula = numerator_formula        
        dataelements_only_pairs = re.findall('[a-z,A-Z0-9]{6,}', temp_numerator_formula)
        if dataelements_only_pairs:            
            for pairs in dataelements_only_pairs :   
                try:
                    value = values[ values['dataelement_uid']==dataelement].groupby(['dataelementid','categoryoptioncomboid']).sum()['value'].iloc[0]
                except:         
                    value = 0       
                
                numerator_formula = re.sub("""#{%s}"""%(pairs), str(value), numerator_formula)
        print numerator_formula
        numerator_formula = float(eval(numerator_formula))
        
        
        dataelement_categorycombo_pairs = re.findall('[a-zA-Z0-9]+\.[a-zA-Z0-9]+', denominator_formula)
        if dataelement_categorycombo_pairs:
            for pairs in dataelement_categorycombo_pairs:
                dataelement, categoryoptioncombo =  pairs.split(".") 
                try:
                    value = values[ (values['dataelement_uid']==dataelement) &(values['categoryoptioncombo_uid']==categoryoptioncombo)].groupby(['dataelementid','categoryoptioncomboid']).sum()['value'].iloc[0]                    
                except:
                    value = 0                 
                    
                denominator_formula = re.sub("""#{%s.%s}"""%(dataelement, categoryoptioncombo), str(value), denominator_formula)  
                
        temp_denominator_formula = denominator_formula        
        dataelements_only_pairs = re.findall('[a-z,A-Z0-9]{6,}', temp_denominator_formula)
        if dataelements_only_pairs:            
            for pairs in dataelements_only_pairs :   
                
                try:
                    value = values[ values['dataelement_uid']==dataelement].groupby(['dataelementid','categoryoptioncomboid']).sum()['value'].iloc[0]
                except:         
                    value = 0
                
                denominator_formula = re.sub("""#{%s}"""%(pairs), str(value), denominator_formula)
        print denominator_formula
        denominator_formula = float(eval(denominator_formula))
        if denominator_formula == 0:
            denominator_formula = 1
        
        

        indicator_value = {
            'indicator_id': indicator['indicatorid'],
            'value': (numerator_formula/denominator_formula),
            'year' : period['year'],
            'month': period['month']
        }
        results.append(indicator_value)
        
        numerator_formula = indicator['numerator']
        denominator_formula = indicator['denominator']
    return results


get_ward_indicator_values_singlefetch('661b05a3-e172-44a2-9f8c-3631b56a05b8',32980,5,2014)

#{HIfJ6JvWQmQ.NhSoXUMPK2K}-#{odmSZSezPsY.NhSoXUMPK2K}-#{au9lav766rM.kHFI1LYOvZF}-#{au9lav766rM.nYnnLevxuXP}-#{au9lav766rM.Qzjct1emaaj}-#{au9lav766rM.J24uZ0lCFVE}-#{au9lav766rM.B4gIWbNNUFc}-#{au9lav766rM.WmSjcUiJumX}-#{aBKk9v6MpWf.kHFI1LYOvZF}-#{aBKk9v6MpWf.nYnnLevxuXP}-#{aBKk9v6MpWf.Qzjct1emaaj}-#{aBKk9v6MpWf.J24uZ0lCFVE}-#{aBKk9v6MpWf.B4gIWbNNUFc}-#{aBKk9v6MpWf.WmSjcUiJumX}+#{siS80Yt4ul4.NhSoXUMPK2K}
#{HIfJ6JvWQmQ.NhSoXUMPK2K}+#{siS80Yt4ul4.NhSoXUMPK2K}

,dataelementid,periodid,sourceid,categoryoptioncomboid,attributeoptioncomboid,value,storedby,lastupdated,comment,followup,created,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode,dataelement_uid,categoryoptioncombo_uid
0,21483,723795,32532,15,15,60,Ben Oyoo,2015-01-10 20:28:27.375,None,None,2015-01-10 20:28:27.381,2015-12-17,None,None,None,None,odmSZSezPsY,NhSoXUMPK2K
1,21483,723795,32540,15,15,620,Ambira Sub County Hospital,2015-01-07 11:45:58.285,None,None,2015-01-07 11:45:58.287,2015-12-17,None,None,None,None,odmSZSezPsY,NhSoXUMPK2K
2,21483,723795,32558,15,15,180,vashti,2015-01-09 12:55:40.221,None,None,2015-01-09 12:55:40.224,2015-12-17,None,None,None,None,odmSZSezPsY,NhSoXUMPK2K
3,21483,723795,54210,15,15,40,vashti,2015-01-09 12:59:54.214,None,None,2015-01-09 12:59:54.218,2015-12-17,None,None,None,None,odmSZSezPsY,NhSoXUMPK2K
4,21481,723795,32532,15,15,40,Ben Oyoo,2015-01-10 20:28:22.016,None,None,2015-01-10 20:28:22.018,2015-12-17,None,None,None,None,HIfJ6JvWQmQ,NhSoXUMPK2K
5,21481,723795,32540,15,15,700,Ambira Sub County Hospital,2015-01-07 11:45:53.570,None,None,2015-01-07 11:45:53.574,2015-12-17,None,None,None,None,HIfJ6JvWQmQ,NhSoXUMPK2K
6,21481,723795,32558,15,15,220,vashti,2015-01-09 12:55:35.755,None,None,2015-01-09 12:55:35.759,2015-12-17,None,None,None,None,HIfJ6JvWQmQ,NhSoXUMPK2K
7,21481,723795,54210,15,15,60,vashti,2015-01-09 12:59:49.941,None,None,2015-01-09 12:59:49.945,2015-12-17,None,None,None,None,HIfJ6JvWQmQ,NhSoXUMPK2K
8,21482,723795,32532,15,15,60,Ben Oyoo,2015-01-10 20:28:22.023,None,None,2015-01-10 20:28:22.028,2015-12-17,None,None,None,None,siS80Yt4ul4,NhSoXUMPK2K
9,21482,723795,32540,15,15,160,Ambira Sub County Hospital,2015-01-07 11:45:55.320,None,None,2015-01-07 11:45:55.324,2015-12-17,None,None,None,None,siS80Yt4ul4,NhSoXUMPK2K
10,20967,723795,32532,23580,15,8,Ben Oyoo,2015-01-10 20:25:54.713,None,None,2015-01-10 20:25:54.717,2015-12-17,None,None,None,None,au9lav766rM,nYnnLevxuXP
11,20967,723795,32532,23581,15,4,Ben Oyoo,2015-01-10 20:25:57.978,None,None,2015-01-10 20:25:57.981,2015-12-17,None,None,None,None,au9lav766rM,B4gIWbNNUFc
12,20967,723795,32532,23582,15,11,Ben Oyoo,2015-01-10 20:26:07.659,None,None,2015-01-10 20:26:07.663,2015-12-17,None,None,None,None,au9lav766rM,Qzjct1emaaj
13,20967,723795,32540,23580,15,12,Ambira Sub County Hospital,2015-01-07 11:40:13.281,None,None,2015-01-07 11:40:13.284,2015-12-17,None,None,None,None,au9lav766rM,nYnnLevxuXP
14,20967,723795,32540,23581,15,15,Ambira Sub County Hospital,2015-01-07 11:42:37.087,None,None,2015-01-07 11:42:37.091,2015-12-17,None,None,None,None,au9lav766rM,B4gIWbNNUFc
15,20967,723795,32540,23582,15,14,Ambira Sub County Hospital,2015-01-07 11:42:39.760,None,None,2015-01-07 11:42:39.763,2015-12-17,None,None,None,None,au9lav766rM,Qzjct1emaaj
16,20967,723795,32540,23583,15,3,Ambira Sub County Hospital,2015-01-07 11:42:42.579,None,None,2015-01-07 11:42:42.583,2015-12-17,None,None,None,None,au9lav766rM,kHFI1LYOvZF
17,20967,723795,32540,23584,15,1,Ambira Sub County Hospital,2015-01-07 11:42:50.841,None,None,2015-01-07 11:42:50.845,2015-12-17,None,None,None,None,au9lav766rM,WmSjcUiJumX
18,20967,723795,32558,23580,15,2,vashti,2015-01-09 12:54:12.000,None,None,2015-01-09 12:54:12.003,2015-12-17,None,None,None,None,au9lav766rM,nYnnLevxuXP
19,20967,723795,32558,23581,15,3,vashti,2015-01-09 12:54:14.693,None,None,2015-01-09 12:54:14.697,2015-12-17,None,None,None,None,au9lav766rM,B4gIWbNNUFc
20,20967,723795,32558,23582,15,2,vashti,2015-01-09 12:54:15.856,None,None,2015-01-09 12:54:15.860,2015-12-17,None,None,None,None,au9lav766rM,Qzjct1emaaj
21,20967,723795,32558,23583,15,2,vashti,2015-01-09 12:54:17.375,None,None,2015-01-09 12:54:17.379,2015-12-17,None,None,None,None,au9lav766rM,kHFI1LYOvZF
22,20967,723795,32577,23580,15,2,vashti,2015-01-09 12:27:31.410,None,None,2015-01-09 12:27:31.416,2015-12-17,None,None,None,None,au9lav766rM,nYnnLevxuXP
23,20967,723795,32577,23581,15,2,vashti,2015-01-09 12:27:33.737,None,None,2015-01-09 12:27:33.741,2015-12-17,None,None,None,None,au9lav766rM,B4gIWbNNUFc
24,20967,723795,32577,23583,15,5,vashti,2015-01-09 12:27:37.457,None,None,2015-01-09 12:27:37.461,2015-12-17,None,None,None,None,au9lav766rM,kHFI1LYOvZF
25,20967,723795,32577,23584,15,1,vashti,2015-01-09 12:27:39.927,None,None,2015-01-09 12:27:39.930,2015-12-17,None,None,None,None,au9lav766rM,WmSjcUiJumX
26,20967,723795,32597,23581,15,2,vashti,2015-01-09 13:02:58.568,None,None,2015-01-09 13:02:58.571,2015-12-17,None,None,None,None,au9lav766rM,B4gIWbNNUFc
27,20967,723795,32597,23583,15,2,vashti,2015-01-09 13:03:00.968,None,None,2015-01-09 13:03:00.972,2015-12-17,None,None,None,None,au9lav766rM,kHFI1LYOvZF

In [162]:
r = get_ward_indicator_values_singlefetch('661b05a3-e172-44a2-9f8c-3631b56a05b8',445265,5,2014)
r['value']=r['value'].astype(int)
# r
# r[ (r['dataelement_uid']=='r7LJ3kCX8EZ') &(r['categoryoptioncombo_uid']=='bPNw3Km3Ug7')]
# values.loc[values[(values['dataelement_uid']== dataelement) & (values['categoryoptioncombo_uid']== categoryoptioncombo)].index]['value'].iloc[0]
r[ (r['dataelement_uid']=='r7LJ3kCX8EZ') &(r['categoryoptioncombo_uid']=='bPNw3Km3Ug7')].groupby(['dataelementid','categoryoptioncomboid']).sum()['value'].iloc[0]

#{r7LJ3kCX8EZ.ObiJr399QRt}
1

115

In [163]:
values = get_ward_indicator_values_singlefetch('661b05a3-e172-44a2-9f8c-3631b56a05b8',32980,5,2014)

#{HIfJ6JvWQmQ.NhSoXUMPK2K}-#{odmSZSezPsY.NhSoXUMPK2K}-#{au9lav766rM.kHFI1LYOvZF}-#{au9lav766rM.nYnnLevxuXP}-#{au9lav766rM.Qzjct1emaaj}-#{au9lav766rM.J24uZ0lCFVE}-#{au9lav766rM.B4gIWbNNUFc}-#{au9lav766rM.WmSjcUiJumX}-#{aBKk9v6MpWf.kHFI1LYOvZF}-#{aBKk9v6MpWf.nYnnLevxuXP}-#{aBKk9v6MpWf.Qzjct1emaaj}-#{aBKk9v6MpWf.J24uZ0lCFVE}-#{aBKk9v6MpWf.B4gIWbNNUFc}-#{aBKk9v6MpWf.WmSjcUiJumX}+#{siS80Yt4ul4.NhSoXUMPK2K}
#{HIfJ6JvWQmQ.NhSoXUMPK2K}+#{siS80Yt4ul4.NhSoXUMPK2K}

In [164]:

values[ values['dataelement_uid']=='odmSZSezPsY']['value'].values

array([ 60, 620, 180,  40])

In [165]:
def get_ward_indicator_values_singlefetch(ward_id, indicator_id, period_type, year):
    facilities = pd.read_sql("SELECT * FROM facilities_facility WHERE ward_id = '%s' ;" %(ward_id), get_connection())
#     return facilities
    
    for col, facility in facilities.iterrows():
        print get_facility_indicator_values_singlefetch(facility.id,445265,5,2014)

get_ward_indicator_values_singlefetch('661b05a3-e172-44a2-9f8c-3631b56a05b8',32980,5,2014)

[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 2.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 4.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 2.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 3.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 4.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 7.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 6.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 2.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 3.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 16.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 18.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 6.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 27.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 30.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 38.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 25.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 48.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 41.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 37.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 54.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 51.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 28.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 23.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 35.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]

In [166]:

get_ward_indicator_values_singlefetch('661b05a3-e172-44a2-9f8c-3631b56a05b8',32980,5,2014)

[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 2.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 4.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 2.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 3.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 1.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 4.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 7.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 6.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 2.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 3.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 16.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 18.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 6.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 27.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 30.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 38.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 25.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 48.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 41.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 37.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 54.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 51.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 28.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 23.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 35.0, 'year': '2014'}]
[{'indicator_id': 445265, 'month': '12', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '10', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '1', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '2', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '3', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '4', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '5', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '6', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '7', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '8', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '9', 'value': 0.0, 'year': '2014'}, {'indicator_id': 445265, 'month': '11', 'value': 0.0, 'year': '2014'}]

In [167]:
s = 'a+b+c'
a =  np.array([ 5 , 3 , 7 , 40])
b =  np.array([ 8 , 0 , 8 , 10])
c =  np.array([ 9 , 3 , 17 , 30])
d =  np.array([ 3 , 9 , 20 , 20])
s = re.sub('a', str(list(a)), s)
s = re.sub('b', str(list(b)), s)
s = re.sub('c', str(list(c)), s)

SyntaxError: invalid syntax (<ipython-input-167-aa31970744ba>, line 1)

In [171]:
v = np.array([ 5 , 3 , 7 , 40])
str(list(v))

'[5, 3, 7, 40]'