In [5]:
#import needed librar
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import json
import psycopg2
import os
import re
#

In [6]:
def get_connection():
    conn = {}
    with open('../db_connection/db_config_2.json') as my_file:
        db_conf = json.load(my_file)
    conn_str = "host={} dbname={} user={} password={}".format(
                db_conf['host'], db_conf['database'], 
                db_conf['user'], db_conf['passw'])
    try:
        conn = psycopg2.connect(conn_str)
        return conn
    except:
        return 'error in connecting to database'

In [7]:
get_connection()

In [8]:
pd.read_sql(""" SELECT table_schema,table_name
                FROM information_schema.tables
                WHERE table_schema = 'public'
                ORDER BY table_schema,table_name;""", get_connection())

   table_schema                            table_name
0        public                   common_constituency
1        public                         common_county
2        public                      common_subcounty
3        public                           common_town
4        public                           common_ward
5        public          dim_dhis_categoryoptioncombo
6        public                  dim_dhis_dataelement
7        public                    dim_dhis_indicator
8        public         dim_dhis_indicatordenominator
9        public               dim_dhis_indicatorgroup
10       public        dim_dhis_indicatorgroupmembers
11       public           dim_dhis_indicatornumerator
12       public             dim_dhis_organisationunit
13       public                       dim_dhis_period
14       public                       dim_ihris_cadre
15       public                 dim_ihris_dataelement
16       public                      dim_ihris_period
17       public                   facilities_facility
18       public             facilities_facilitystatus
19       public               facilities_facilitytype
20       public                  facilities_kephlevel
21       public                      facilities_owner
22       public                  facilities_ownertype
23       public             facilities_regulatingbody
24       public           facilities_regulationstatus
25       public                   fact_dhis_datavalue
26       public   fact_dhis_indicatorcalculatedvalues
27       public                  fact_ihris_datavalue
28       public                      fact_kemsa_order
29       public                  fact_kemsa_order_dsl
30       public                 indicators_score_card
31       public                            juldec2015
32       public                           juldec20155
33       public                                 tempo
34       public                        vw_mohdsl_dhis
35       public       vw_mohdsl_dhis_subcounty_county
36       public  vw_mohdsl_dhis_with_subcounty_county
37       public                       vw_mohdsl_ihris
38       public          vw_mohdsl_masterfacilitylist
39       public                      vw_mohdsl_period

In [9]:
pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())
# pd.read_sql('SELECT * from dim_ihris_dataelement', get_connection())
# pd.read_sql('SELECT * from dim_ihris_period', get_connection())
# pd.read_sql('SELECT * from fact_ihris_datavalue', get_connection())
# pd.read_sql('SELECT * from vw_mohdsl_ihris', get_connection())
# pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())

,cadreid,cadrename,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,3,Medical Laboratory Scientists,None,None,None,None,None
1,13,VCT Counselors,None,None,None,None,None
2,16,Plaster Staff,None,None,None,None,None
3,17,Community Health Service Staff,None,None,None,None,None
4,15,Nutrition staff,None,None,None,None,None
5,8,Medical Officers & Specialists,None,None,None,None,None
6,4,Pharmacy Staff,None,None,None,None,None
7,5,Health Information ICT,None,None,None,None,None
8,7,Rehabilitative staff,None,None,None,None,None
9,14,Clinical psychologists,None,None,None,None,None
10,11,Hospital Maintenance Staff,None,None,None,None,None
11,10,Environmental Health staff,None,None,None,None,None
12,1,Nurses and specialist nurses,None,None,None,None,None
13,12,Diagnostics & Imaging,None,None,None,None,None
14,9,Dental staff,None,None,None,None,None
15,6,Clinical Officers,None,None,None,None,None
16,2,Health Promotion Officers,None,None,None,None,None
17,18,Medical Social Work,None,None,None,None,None
18,19,Health Administrative staff,None,None,None,None,None
19,20,Support staff,None,None,None,None,None
20,21,Other Non-Medical,None,None,None,None,None
21,22,Medical Social Work,None,None,None,None,None

In [10]:
pd.read_sql('SELECT * from dim_ihris_cadre', get_connection())

,cadreid,cadrename,_datecreated,_eventexecutionkey,_lastaction,_mergekey,_sourcesystemcode
0,3,Medical Laboratory Scientists,None,None,None,None,None
1,13,VCT Counselors,None,None,None,None,None
2,16,Plaster Staff,None,None,None,None,None
3,17,Community Health Service Staff,None,None,None,None,None
4,15,Nutrition staff,None,None,None,None,None
5,8,Medical Officers & Specialists,None,None,None,None,None
6,4,Pharmacy Staff,None,None,None,None,None
7,5,Health Information ICT,None,None,None,None,None
8,7,Rehabilitative staff,None,None,None,None,None
9,14,Clinical psychologists,None,None,None,None,None
10,11,Hospital Maintenance Staff,None,None,None,None,None
11,10,Environmental Health staff,None,None,None,None,None
12,1,Nurses and specialist nurses,None,None,None,None,None
13,12,Diagnostics & Imaging,None,None,None,None,None
14,9,Dental staff,None,None,None,None,None
15,6,Clinical Officers,None,None,None,None,None
16,2,Health Promotion Officers,None,None,None,None,None
17,18,Medical Social Work,None,None,None,None,None
18,19,Health Administrative staff,None,None,None,None,None
19,20,Support staff,None,None,None,None,None
20,21,Other Non-Medical,None,None,None,None,None
21,22,Medical Social Work,None,None,None,None,None

In [11]:
#get all job types
def get_job_types(in_json=False):
    ''' return a list of all job types
        returns a dataframe or json string in record orientation '''
    query = ''' SELECT dataelementname as name, dataelementid as id, uid, cadreid as cadreId FROM dim_ihris_dataelement '''
    all_job_types = pd.read_sql(query, get_connection())
    
    if in_json:
        return all_job_types.to_json(orient='records')
    else:
        return all_job_types

In [12]:
get_job_types()

                                         name   id          uid  cadreid
0                                Radiologists  124  j6rWJohHApN      8.0
1                           Medical Engineers   69  OEuv8LzwRhi     11.0
2                                 Secretaries  128  v7vxTAEGeGA      NaN
3                                       Cooks   25  VSS0Q2dsa6T      NaN
4                     Laboratory Technologist   63  UkHz85ClyLb      3.0
5                              Dermatologists   39  dDwnx4aTRnO      8.0
6           Human Resource Management Officer   56  c16GFxyRjdh      NaN
7                                Paeditrician  107  jcAWqDjKIzu      8.0
8                     Human Resource Officers   57  BBmiHuvVy3H      NaN
9           Oromaxillofacial Anesthesiologist   95  VNtTqsSmDZj      8.0
10                        Mortuary Attendants   74  HYNJ8l92EAH      NaN
11                Accidents & Emergency Nurse    1  pfIYHskfyhQ      1.0
12                         Paediatric Dentist  101  a21PHUIxEsY      9.0
13                 Other Non Medical officers  100  Vo8wQoODbCL      NaN
14                            Dental Officers   36  pKfgH5i1BOj      9.0
15                             Neuro-Surgeons   79  L2hEgD7f7vc      8.0
16             Health Administrative Officers   51  Xh2t1PfIwYU      NaN
17                       General Radiographer   48  yMngrAg3ppK     12.0
18                             Forensic Nurse   43  aOH63LerJKG      1.0
19                                   Artisans    5  Ks0OLgk2vM4      NaN
20                CO Dermatology/ Venereology   19  YOMA61T94eU      6.0
21                        Oncology Pharmacist   91  jhnwdzWFLmM      4.0
22                CO Oncology/Palliative Care   26  pjEN2QceKNH      6.0
23                        Medical Social Work   72  hr3oi94eCiB      NaN
24                                ENT surgeon   42  z2UWuWGZmky      8.0
25                               Nephrologist   76  AiH62Ek8tX1      8.0
26          Medical Engineering Technologists   68  Odh5fqB2xB7     11.0
27                     Medical Superintendent   73  A1Co8DYxQmt      NaN
28           Specialist Physician( Internist)  133  jKErQCgTFnx      8.0
29    Health Record & Information Technicians   54  sERBMwvM1lS      5.0
..                                        ...  ...          ...      ...
113                                 BSN Nurse    7  CGN15kwiEla      1.0
114            Clinical Officer ENT/Audiology   14  uAk9AD2NGFv      6.0
115                  Oromaxillofacial Surgeon   96  vQM2DsXKWlk      9.0
116          Community Health Volunteers(CHV)   22  jQJYCWsxYy1     17.0
117                      Radiology Assistants  125  x7aE2UY44fu     12.0
118   Kenya Registered Community Health Nurse   60  FheKkDXpzuB      1.0
119                        Urological Surgeon  142  wGXLcYLdMSz      8.0
120                    Clinical psychologists   17  QWymS3dj4uU     14.0
121                       Registered Midwives  126  OR7PhOwj9Hl      1.0
122                           General Surgeon   49  X3AKw12zLoy      8.0
123                                Oncologist   89  XExx7Tp3GT3      8.0
124         CO Ophthalmology/Cataract Surgery   27  ShtwHIW1rOC      6.0
125              Clinical Officer Lung & Skin   15  KRxsqqbdAGH      6.0
126              Nutrition & Dietetic Officer   83  VDr1HyoX3VN     15.0
127           Medical Engineering Technicians   67  YW0ZLEwqLfl     11.0
128                 CT Scan /MRI Radiographer   34  e70PT5nMwM4     12.0
129                   Public Health Physician  120  v3K6qERvoAv      8.0
130                          Ophthalmic Nurse   92  T0ncWxRLsyF      1.0
131                    Paediatric Neurologist  104  SRLEdIKhmdN      8.0
132                 Health Promotion Officers   52  yNj6FkYTNlQ      2.0
133                Graduate Clinical Officers   50  qVSVqXlkRsH      6.0
134                               ICT Officer   58  oTuRuZD2arX      5.0
135                            Theater Nurses  138  zn9QPAmVtAb      1.0
136     Radiation Monitoring & Safety Officer  122  q87fNzvmqdb     12.0
137                          Physiotherapists  114  KsJNSSnEWQQ      7.0
138                       Sign Language Nurse  130  ikRFvM1QLnn      1.0
139                             Radiographers  123  x4gjdpZthUi     12.0
140               Pharmaceutical Technologist  111  YJFji18puX6      4.0
141                     Laboratory Technician   62  rhcvBmo3Prz      3.0
142  iHRIS HIV/AIDS Care & Treatment Officers  143  lTSbqTyF8zB     13.0

[143 rows x 4 columns]

In [13]:
def get_cadres(in_json=False):
    ''' return a list of all job types
        returns a dataframe or json string in record orientation '''
    query = ''' SELECT cadreid as id, cadrename as name FROM dim_ihris_cadre '''
    all_cadres = pd.read_sql(query, get_connection())
    
    if in_json:
        return all_cadres.to_json(orient='records')
    else:
        return all_cadres

In [14]:
get_cadres(True)

'[{"id":3,"name":"Medical Laboratory Scientists"},{"id":13,"name":"VCT Counselors"},{"id":16,"name":"Plaster Staff"},{"id":17,"name":"Community Health Service Staff"},{"id":15,"name":"Nutrition staff"},{"id":8,"name":"Medical Officers & Specialists"},{"id":4,"name":"Pharmacy Staff"},{"id":5,"name":"Health Information ICT"},{"id":7,"name":"Rehabilitative staff"},{"id":14,"name":"Clinical psychologists"},{"id":11,"name":"Hospital Maintenance Staff"},{"id":10,"name":"Environmental Health staff"},{"id":1,"name":"Nurses and specialist nurses"},{"id":12,"name":"Diagnostics & Imaging"},{"id":9,"name":"Dental staff"},{"id":6,"name":"Clinical Officers"},{"id":2,"name":"Health Promotion Officers"},{"id":18,"name":"Medical Social Work "},{"id":19,"name":"Health Administrative staff"},{"id":20,"name":"Support staff"},{"id":21,"name":"Other Non-Medical"},{"id":22,"name":"Medical Social Work "}]'

In [15]:
pd.read_sql('SELECT * from fact_ihris_datavalue', get_connection()).periodid.unique()
# pd.read_sql('SELECT * from facilities_facility', get_connection())

array([2505073])

In [16]:
def get_facility_staff(facility_id, in_json=False):
    ''' Return a list of all staff in the facility'''
    query = """ SELECT a.value, b.dataelementname, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND c.id = '%s'"""%(facility_id)
    staff = pd.read_sql(query, get_connection())
    return staff

In [17]:
get_facility_staff('2e21b2de-7c5b-4db7-bb1d-26930af9274d',False)

   value                    dataelementname                        name
0      7                    Dental Officers  Kenyatta National Hospital
1     13                    Dental Officers  Kenyatta National Hospital
2     22     Health Administrative Officers  Kenyatta National Hospital
3     40     Health Administrative Officers  Kenyatta National Hospital
4      1               General Radiographer  Kenyatta National Hospital
5      1  Plaster Technicians/Technologists  Kenyatta National Hospital
6      2   Medical Laboratory Technologists  Kenyatta National Hospital
7     51                   Medical Officers  Kenyatta National Hospital
8     92                   Medical Officers  Kenyatta National Hospital
9      4                         Pharmacist  Kenyatta National Hospital
10    15                         Pharmacist  Kenyatta National Hospital
11     1       Nutrition & Dietetic Officer  Kenyatta National Hospital
12     1       Nutrition & Dietetic Officer  Kenyatta National Hospital

In [ ]:
def get_facility_job_type(facility_id: job_type_id):
    ''' return a the number of staff of the given job type in the given facility''''

In [29]:
pd.read_sql(""" SELECT a.dataelementid, a.periodid, a.categoryoptioncomboid,a.value, b.dataelementname, c.name 
                FROM fact_ihris_datavalue a, dim_ihris_dataelement b, facilities_facility c, dim_ihris_cadre d
                WHERE a.mflcode = c.code 
                    AND a.dataelementid = b.uid
                    AND a
                    AND c.id = '%s'"""%('2e21b2de-7c5b-4db7-bb1d-26930af9274d'), get_connection())

,dataelementid,periodid,categoryoptioncomboid,value,dataelementname,name
0,pKfgH5i1BOj,2505073,Lt6CjodPpWZ,7,Dental Officers,Kenyatta National Hospital
1,pKfgH5i1BOj,2505073,MJAGUpeHkpn,13,Dental Officers,Kenyatta National Hospital
2,Xh2t1PfIwYU,2505073,Lt6CjodPpWZ,22,Health Administrative Officers,Kenyatta National Hospital
3,Xh2t1PfIwYU,2505073,MJAGUpeHkpn,40,Health Administrative Officers,Kenyatta National Hospital
4,yMngrAg3ppK,2505073,Lt6CjodPpWZ,1,General Radiographer,Kenyatta National Hospital
5,aJJt6zJP7Cq,2505073,Lt6CjodPpWZ,1,Plaster Technicians/Technologists,Kenyatta National Hospital
6,UQe25w2sxfL,2505073,Lt6CjodPpWZ,2,Medical Laboratory Technologists,Kenyatta National Hospital
7,wL8bTjxwuZ3,2505073,Lt6CjodPpWZ,51,Medical Officers,Kenyatta National Hospital
8,wL8bTjxwuZ3,2505073,MJAGUpeHkpn,92,Medical Officers,Kenyatta National Hospital
9,NuuKruwpMt0,2505073,Lt6CjodPpWZ,4,Pharmacist,Kenyatta National Hospital
10,NuuKruwpMt0,2505073,MJAGUpeHkpn,15,Pharmacist,Kenyatta National Hospital
11,VDr1HyoX3VN,2505073,Lt6CjodPpWZ,1,Nutrition & Dietetic Officer,Kenyatta National Hospital
12,VDr1HyoX3VN,2505073,MJAGUpeHkpn,1,Nutrition & Dietetic Officer,Kenyatta National Hospital

In [33]:
pd.read_sql('''SELECT * from dim_dhis_categoryoptioncombo where categoryoptioncomboid='%s' ''' %('Lt6CjodPpWZ'), get_connection())

DatabaseError: Execution failed on sql 'SELECT * from dim_dhis_categoryoptioncombo where categoryoptioncomboid='Lt6CjodPpWZ' ': invalid input syntax for integer: "Lt6CjodPpWZ"
LINE 1: ...s_categoryoptioncombo where categoryoptioncomboid='Lt6CjodPp...
                                                             ^